[2017-11-01 15:51] Guardiola31337 opened #10 "Add Instrumentation tests support"
- Fix CI so that it runs the Instrumentation tests instead of the Robo tests
- There's no test app in this repo so it doesn't make sense to keep the Robo ones

👀 @zugaldia @electrostat

[2017-11-16 19:46] #10 closed

[2018-01-22 19:50] boundsj opened #55 "Use Job Scheduler-like objects"
* Use Job Scheduler-like objects
* Support event handling in the background

[2018-02-12 17:46] electrostat opened #64 "3.0.0 Beta 1 Release"
### Release checklist

- [x] Change version name to `3.0.0-beta.1` in `gradle.properties`
- [x] change version name of Android Core: `0.2.0-beta.1` in gradle.properties
- [x] Publish `3.0.0-beta.1` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v3.0.0-beta.

[2018-02-12 20:44] #64 closed

[2018-02-19 10:34] ivovandongen opened #66 "Remove System.out calls"
This is showing up in logs now `I/System.out: MapboxTelemetry#onPeriodRaised` from https://github.com/mapbox/mapbox-events-android/blame/fd558dee4c8940a224896f3b6faffd0be605dde1/libtelemetry/src/main/java/com/mapbox/android/telemetry/MapboxTelemetry.java#L320

[2018-02-23 08:46] tobrun opened #68 "Optional location provider results in logging warnings"
due to making location provider optional, we are receiving warnings as:

Could we look into suppressing these warnings or finding a way that they don't occur?

refs https://github.com/mapbox/mapbox-gl-native/issues/11285

cc @Guardiola31337

[2018-02-27 06:19] tobrun opened #69 "Update to OkHttp 3.10.0"
OkHttp 3.10.0 has been released and noting from https://github.com/mapbox/mapbox-gl-native/issues/11325 that this introduces a breaking change due to usage of an internal api.

cc @electrostat @Guardiola31337

[2018-03-02 16:00] Guardiola31337 opened #74 "Add test coverage for AlarmReceiver"
- We should add some `AlarmReceiver` missing tests

👀 https://github.com/mapbox/mapbox-events-android/pull/73#discussion_r171848700

[2018-03-02 16:43] #69 closed

[2018-03-03 12:22] #66 closed

[2018-03-06 18:10] LukasPaczos opened #76 "Remove LOST from available LocationEngine types"
Since https://github.com/mapbox/mapbox-events-android/pull/58, passing `LOST` when requesting new `LocationEngine` just results in `null`. Can we remove that type from `LocationEngine#Type`?

/cc @electrostat

[2018-03-08 15:23] LukasPaczos opened #78 "Remove/bump MAS dependency"
Refs https://github.com/mapbox/mapbox-gl-native/issues/11417.

/cc @Guardiola31337

[2018-03-12 18:31] electrostat commented on #76
Being addressed by: https://github.com/mapbox/mapbox-events-android/pull/81

[2018-03-13 17:27] Guardiola31337 commented on #78
Addressed in https://github.com/mapbox/mapbox-events-android/pull/81 which recently landed.

Closing.

cc @electrostat

[2018-03-13 17:27] #78 closed

[2018-03-13 17:29] Guardiola31337 commented on #76
https://github.com/mapbox/mapbox-events-android/pull/81 landed.

Closing.

cc @electrostat

[2018-03-13 17:29] #76 closed

[2018-03-13 17:36] Guardiola31337 commented on #68
After removing Lost dependencies completely (👀 https://github.com/mapbox/mapbox-events-android/pull/81 which landed recently) these warnings shouldn't occur anymore.

@tobrun could you confirm if the warnings are gone now?

[2018-03-13 18:52] Guardiola31337 opened #82 "Bring back the Mock location engine type"
- `MOCK` `LocationEngine.Type` was removed in #81 👀 https://github.com/mapbox/mapbox-events-android/pull/81/files#diff-f30d9c26536d598f49a2e375aa2aec9fL21 and shouldn't because it's used in the Nav SDK 👉 https://github.com/mapbox/mapbox-navigation-android/blob/cf93796b03575ee83e2fbe6370ef261d66ba8759/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/location/MockLocatio

[2018-03-13 19:15] zugaldia commented on #82
How important is this for the Nav SDK from nice-to-have to release-blocker?

[2018-03-13 20:05] Guardiola31337 commented on #82
Having a `MOCK` `LocationEngine.Type` makes sense to me because 3rd party clients will be able to create their own "mock" location engines.

BTW it's a one line fix :sweat_smile:, I'll submit a PR 🚀

[2018-03-14 11:09] Guardiola31337 commented on #82
There you go #83

[2018-03-14 13:10] #82 closed

[2018-03-16 18:02] electrostat opened #86 "3.0.0 Beta 2 Release"
### Release checklist

- [x] Change version name to `3.0.0-beta.2` in `gradle.properties`
- [x] change version name of Android Core: `0.2.0-beta.2` in gradle.properties
- [x] Publish `3.0.0-beta.2` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v3.0.0-beta.

[2018-03-19 22:07] langsmith opened #88 "Change naming in libcore/libtelemetry javadoc.gradle ?"
https://github.com/mapbox/mapbox-events-android/blob/5f8c4986d9d190875383c4f1ce23dcc6e5c7ea90/libcore/javadoc.gradle

https://github.com/mapbox/mapbox-events-android/blob/5f8c4986d9d190875383c4f1ce23dcc6e5c7ea90/libtelemetry/javadoc.gradle

The `javadoc.gradle` files in this repo ( 👆) still have mention of `Mapbox Android Services`.

@electrostat , @cammace , @zugaldia , any thoughts on whether th

[2018-03-19 22:09] langsmith commented on #88
I ask because I'm cleaning up javadocs related to this repo and it is a bit strange to see MAS as the major header of libcore/libtelemetry javadocs....

<img width="940" alt="screen shot 2018-03-19 at 3 07 58 pm" src="https://user-images.githubusercontent.com/4394910/37624967-58af6140-2b87-11e8-901b-9c6118e43fa1.png">

[2018-03-19 22:20] electrostat commented on #88
Yeah that looks like a legacy issue from when Telemetry was a part of MAS. I would recommend changing it to `Mapbox Android Telemetry`, since core gets packaged up and set along with telemetry.

[2018-03-19 22:27] langsmith commented on #88
Got it

[2018-03-21 15:46] #88 closed

[2018-03-22 15:09] #86 closed

[2018-03-22 21:43] electrostat opened #90 "Meta-Data Tag bug"
Meta-Data tag not functioning as intended. Should be optional, but system requires it.

cc @Guardiola31337 @tobrun @zugaldia

[2018-03-22 21:51] #90 closed

[2018-03-26 16:57] electrostat opened #94 "3.0.0 Beta 3 Release"
### Release checklist

- [x] Change version name to `3.0.0-beta.3` in `gradle.properties`
- [x] change version name of Android Core: `0.2.0-beta.3` in `gradle.properties`
- [x] Publish `3.0.0-beta.3` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v3.0.0-bet

[2018-03-27 13:48] langsmith commented on #94
🎉

[2018-03-27 13:48] #94 closed

[2018-03-28 12:07] Guardiola31337 commented on #68
Now that https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v6.0.0-beta.5 and https://github.com/mapbox/mapbox-events-android/releases/tag/telem-3.0.0-beta.3-core-0.2.0-beta.3 are released and available 🎉 @tobrun could you please retest this and report back if it's still an issue?

[2018-03-29 09:19] LukasPaczos opened #97 "Service crashes after restart"
Refs. https://github.com/mapbox/mapbox-gl-native/issues/11554.

When the service that works in a [sticky mode](https://github.com/mapbox/mapbox-events-android/blob/23a87b1c1c8a10b98c081e3ed101be61a1d23601/libtelemetry/src/main/java/com/mapbox/android/telemetry/TelemetryService.java#L49) is being killed by the OS and then restarted, it's going to deliver a `null` intent and crash [here](https://git

[2018-03-29 15:58] #97 closed

[2018-04-03 20:44] electrostat opened #101 "3.0.0 Beta 4 Release"
### Release checklist

- [ ] Change version name to `3.0.0-beta.3` in `gradle.properties`
- [ ] change version name of Android Core: `0.2.0-beta.3` in `gradle.properties`
- [ ] Publish `3.0.0-beta.3` artifact to Maven Central
- [ ] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [ ] Change version name back to `0.3.0-SNAPSHOT` for core
- [ ] Update `CHANGELOG.md`
- [ ] Tag `v3.0.0-bet

[2018-04-10 18:10] electrostat opened #112 "3.0.0 Release"
### Release checklist

- [x] Change version name to `3.0.0` in `gradle.properties`
- [x] change version name of Android Core: `0.2.0` in `gradle.properties`
- [x] Publish `3.0.0` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v3.0.0` in GitHub

Post release

[2018-04-11 14:38] #112 closed

[2018-04-16 19:41] electrostat opened #118 "3.0.1 Release"
### Release checklist

- [x] Change version name to `3.0.1` in `gradle.properties`
- [x] change version name of Android Core: `0.2.0` in gradle.properties
- [x] Publish `3.0.1` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v3.0.1` in GitHub

Post release

[2018-04-17 14:35] electrostat opened #121 "3.0.2 Release"
### Release checklist

- [ ] Change version name to `3.0.2` in `gradle.properties`
- [ ] change version name of Android Core: `0.2.0` in gradle.properties
- [ ] Publish `3.0.2` artifact to Maven Central
- [ ] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [ ] Change version name back to `0.3.0-SNAPSHOT` for core
- [ ] Update `CHANGELOG.md`
- [ ] Tag `v3.0.2` in GitHub

Post release

[2018-04-17 14:44] #118 closed

[2018-04-23 14:34] electrostat opened #124 "Job Service Context Crash"
While testing the `Oreo` update, came across a crash that intermittently occurs when creating a LocationEvent. Looks to be related to the siloing that occurs with the job service. Context seems to be missing for `MapboxTelemetry`. Need to work on better solution to prevent issue from happening.

[2018-04-24 17:44] electrostat opened #125 "Decouple Core and Telem Release Process"
Decouple the release process for Telemetry and Core libraries. This allows them to be released independently and prevent any conflicts within the release process.

[2018-04-27 15:46] Guardiola31337 opened #127 "Release 3.0.3"
### Release checklist

- [ ] Change version name to `3.0.3` in `gradle.properties`
- [ ] change version name of Android Core: `0.2.0` in gradle.properties
- [ ] Publish `3.0.3` artifact to Maven Central
- [ ] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [ ] Change version name back to `0.3.0-SNAPSHOT` for core
- [ ] Update `CHANGELOG.md`
- [ ] Tag `v3.0.3` in GitHub

Post release

[2018-04-30 17:28] Guardiola31337 opened #129 "IllegalStateException: Not allowed to start service Intent (Android O)"
Refs. https://github.com/mapbox/mapbox-navigation-android/issues/901

[code]

That's because the new Android O background execution limits on API 26+ 👀

https://developer.android.com/about/versions/oreo/android-8.0-changes#back-all

More in depth reference 👉 https://developer.android.com/about/versions/oreo/background.html

@vladgheorghe we're working on bringing the changes needed in https://gith

[2018-04-30 19:10] #124 closed

[2018-05-02 22:00] electrostat commented on #129
@vladgheorghe I'm having a hard time replicating this crash for testing purposes. Could you provide more info? Looking for sdk and version you're using, build config of your app, and any unique implementation you could be using. Hoping to get this fix in our next release. Thanks.

[2018-05-02 22:08] vladgheorghe commented on #129
Hello, I am sorry if I am slow to respond, I am working on multiple projects and also travelling quite a bit. I can confirm that I’ve randomly reproduced this crash on Oreo, navi 0.13snapshot 2 commits ago with location 0.5.0 release and maps sdk 6.0.1. My most recent build is with the latest snapshot version, sdk 6.0.1 and location layer 0.6.0 snapshot. No crashes so far even on oreo but I have r

[2018-05-03 10:34] Niduank opened #132 "LocationEngineProvider crash when obtainBestLocationEngineAvailable()"
Hi guys,

I follow your example to get location but app crash.

Device :
Samsung Galaxy S8+
Android : 8.0.0

My code :
[code]

There is my gradle :
[code]

And the crash :
[code]

Any ideas ?

[2018-05-03 20:47] electrostat commented on #132
@Niduank  I have been unable to replicate this issue within my test apps. One thing I would look at is the `location-layer-plugin`. We have been noticing various issues with `0.5.0`. If you could test with `0.6.0-SNAPSHOT` and update here, I'd appreciate it.  We are working on a `0.6.0` release and it should be out shortly.

[2018-05-04 18:30] vladgheorghe commented on #129
I think I might have some possible STRs for this issue, altough I'm fairly certain that It crashes in other scenarios as well:

open a Mapbox Activity (mapview, navi, llp, implemented as per docs)
start ActivityForResult to another activity
return with result
force close app process

Somewhere along these lines always crashes for me after force closing.

[code]

[2018-05-04 18:38] vladgheorghe commented on #129
Also, I'm getting these logs before that crash

[code]

[2018-05-04 18:39] vladgheorghe commented on #129
Currently using navi 0.13 release, maps sdk 6.0.1 and LLP 0.6.0-snapshot

[2018-05-04 19:54] DejanRistic commented on #129
@electrostat I saw a similar error happen when migrating things over to 6+ and events. Posting a crash report here in case it helps!

http://crashes.to/s/1026f220067

[2018-05-04 21:40] electrostat opened #134 "3.1.0 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.1.0` in `gradle.properties`
- [x] change version name of Android Core to `0.2.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.1.0` artifact to Maven Central
- [x] Change version name back to `4.0.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-05-05 00:05] langsmith commented on #134
🎉

[2018-05-05 00:05] #134 closed

[2018-05-10 18:00] tobrun opened #140 "Add StrictMode to test app"
To catch strict mode issues as early as possible, lets add [StrictMode](https://developer.android.com/reference/android/os/StrictMode) configuration to our test app.

cc @electrostat @zugaldia

[2018-05-10 20:07] cammace opened #141 "Location cannot be found with LocationLayer Plugin 5.0 examples"
_This issue was originally ticketed in the Plugins Repo but actually belongs here._

---
@AlexeyIke
 Hello,
I've use Mapbox  SDK v6.0.1 and LocationLayer plugin v 0.5.0
I've add location init as described on LocationLayer plugin v 0.5.0 examples:
create  locationEngine = new LocationEngineProvider(this).obtainBestLocationEngineAvailable()
and set locationEngine.setPriority(LocationEnginePriority.H

[2018-05-11 16:05] sictiru commented on #55
Can we bump up the priority on this one ? Android 8 with it's new background service restrictions was released 8 months ago.

[2018-05-14 11:48] tobrun opened #143 "Limit used `com.android.support` dependencies on android-core"
When printing the dependency graph on mapbox-gl-native, I'm noticing that android-core uses appcompat-v7 as a dependency. This as a result pulls in a bunch of other dependencies. I would like to suggest reviewing which ones are necessary for the library to work

[code]

@electrostat @zugaldia

[2018-05-15 02:22] AlexeyIke opened #145 "Telemetry crash on stop service"
Hello,
i've use mapbox sdk v 6.0.1 + telemetry 3.0.2 + location layer plugin 0.5.0
Has very rare crash on fabric stat:
xiaomi, oneplus, android 6.0.1,   100%   App In Background

Fatal Exception: java.lang.RuntimeException: Unable to stop service com.mapbox.android.telemetry.TelemetryService@eba3f54: java.lang.NullPointerException: Attempt to invoke virtual method 'com.mapbox.android.telemetry.Tel

[2018-05-16 02:59] jplipata commented on #129
Our app has this crash showing in Crashlytics as well

[code]

And

[code]

[2018-05-16 14:29] electrostat commented on #129
@DejanRistic @jplipata  I am working on a fix for this Oreo issue and we are doing a future release to address it, combined with unique updates related directly to Oreo.

[2018-05-16 17:45] electrostat opened #146 "Root Cause of Missing Context"
Investigate missing `MapboxTelemetry.applicationContext` when generating a location event.

- possible causes could be a race condition or odd background state
- solution may be to just drop events when context is not set

Reference Ticket: https://github.com/mapbox/mapbox-events-android/pull/144

cc: @zugaldia

[2018-05-17 16:02] lilykaiser opened #147 "TelemetryLocationEnabler.updateTelemetryLocationState NPE issue"
Copying from @kingfisherphuoc https://github.com/mapbox/mapbox-gl-native/issues/11929

**Platform:**
**Mapbox SDK version:**

### Steps to trigger behavior

 1. open map
 2. Using it while GPS is moving (Using Lockito or some mocklocation app)
 3. Get error as below:

[code]

### Expected behavior
We should not get this issue.
### Actual behavior
App crashed.

[2018-05-17 16:06] jplipata commented on #129
@electrostat ok great news. Thanks!  Do you have an ETA for the release?

[2018-05-17 19:49] electrostat opened #148 "3.1.1 Telemetry Release"
### Release checklist

- [ ] Change version name of Android Telemetry to `3.1.1` in `gradle.properties`
- [ ] change version name of Android Core to `0.2.0` in gradle.properties
- [ ] toggle off core release
- [ ] Publish `3.1.1` artifact to Maven Central
- [ ] Change version name back to `3.2.0-SNAPSHOT` for telemetry
- [ ] Change version name back to `0.3.0-SNAPSHOT` for core
- [ ]  toggle Core

[2018-05-18 22:02] sictiru commented on #129
I subscribe to the fix for Oreo+

[2018-05-22 21:39] electrostat opened #153 "3.1.2 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.1.2` in `gradle.properties`
- [x] change version name of Android Core to `0.2.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.1.2` artifact to Maven Central
- [x] Change version name back to `3.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-05-22 22:43] #153 closed

[2018-05-25 09:28] Guardiola31337 commented on #145
Hey @AlexeyIke 👋 thanks for reaching out and report your issue.

I'm going to close here in favor of https://github.com/mapbox/mapbox-events-android/issues/147
Please, could you add some more information for reproducing the crash (minimal example) or any other specifics around your test setup and some information on used device there? If there is any sample or pseudo code you can provide, that wou

[2018-05-25 09:28] #145 closed

[2018-05-25 09:46] Guardiola31337 commented on #147
Hey @kingfisherphuoc 👋 thanks for reaching out and report your issue.

Could you add some more information for reproducing the crash (minimal example) or any other specifics around your test setup and some information on used device? What version of the Maps SDK are you using? If there is any sample or pseudo code you can provide, that would be also really helpful.

[2018-05-25 15:19] electrostat commented on #147
I follow the logic. This looks like it'll fix the issue. I'll work on a solution.

[2018-05-29 00:12] AlexeyIke commented on #145
Hello, it crash from fabric and i've not has a phone with 6.0.1 to test it. I've try on latest sdk /telemetry versions and alert if crash happen again.

[2018-05-31 07:47] mrunal7761 opened #158 "Current Location Cannot be found,shows wrong location near Nigeria."
Current location cannot be found as per given examples in github,i tried to implement this piece of code,but not successful.
I used code example given [here.](https://www.mapbox.com/help/android-navigation-sdk/)

		package com.app.mapboxdemo;
		// classes needed to initialize map

		import com.mapbox.api.geocoding.v5.MapboxGeocoding;
		import com.mapbox.mapboxsdk.Mapbox;
		import com.mapbox.mapbox

[2018-06-04 12:40] danesfeder commented on #158
@mrunal7761 It looks like your issue here is you are never calling `LocationEngine#requestLocationUpdates` - please review https://www.mapbox.com/android-docs/core/overview/#locationengine and activate your `LocationEngine` in the same manner.

[2018-06-04 12:50] mrunal7761 commented on #158
@danesfeder ,i am using that in `onStart()`,wait let me put whole code,and you can have a look...

[2018-06-05 12:52] mrunal7761 commented on #158
@danesfeder ,now please see,and check the whole code.
Help if you can please.

[2018-06-05 12:54] danesfeder commented on #158
@mrunal7761 can you provide a screenshot of the issue you're seeing?  Thanks!

[2018-06-05 13:03] mrunal7761 commented on #158
yes sure @danesfeder .

[2018-06-05 13:05] mrunal7761 commented on #158
[
![ss](https://user-images.githubusercontent.com/37830009/40977659-2ba64dd0-68ef-11e8-949d-4074b1fd5afe.png)
](url)

[2018-06-05 13:07] mrunal7761 commented on #158
@danesfeder as i said,it shows wrong current location as near Nigeria,somewhere in ocean.

[2018-06-05 13:14] danesfeder commented on #158
@mrunal7761 yeah this is `null island` 🌴 (lat, lng both `0.0`) - do you eventually receive location updates?  Does this happen only initially?

I noticed you only add the location engine listener if you have a null last location:
[code]

Can you _always_ add this to ensure you are receiving fresh location updates from the device?

[2018-06-05 13:17] mrunal7761 commented on #158
yes in fact,if i use any fake gps application,and set any location by it,and than when i run the application,it runs exactly as required,but without setting any fake  gps location ,it always returns the same null island.

can u explain with code,so that i can understand more clearly.
@danesfeder ?

[2018-06-05 13:39] danesfeder commented on #158
If you are using a fake GPS provider, this can "mess" with the `LocationEngine` API - like provide you a non-null update with coordinates `0.0, 0.0`.

You're also using a wifi connection and you may not be outdoors?  These can also affect the updates / accuracy of the updates.

[code]

[2018-06-05 13:43] mrunal7761 commented on #158
@danesfeder ,i copied your code,and run the application by pasting it,but sorry,getting the same output.

[2018-06-05 13:52] danesfeder commented on #158
I'd take a look at the updates you're using the set the camera position then - your GPS faker may be providing these 0 updates

[2018-06-05 13:58] mrunal7761 commented on #158
@danesfeder ,its actually an application,on which i set my current location,in that,my application shows proper output..
but i cant be dependent on that app,because i cant show them fake locations,i need to provide them actual current locations.
and another thing,
when in gradle file,i implement this dependencies of google play service,it shows accurat location,just by implementing them,but unfort

[2018-06-05 19:44] tobrun opened #159 "Use IntentService with PendingIntent to receive background location updates"
Capturing from [LocationRequest documentation](https://developers.google.com/android/reference/com/google/android/gms/location/FusedLocationProviderClient#requestLocationUpdates(com.google.android.gms.location.LocationRequest,%20android.app.PendingIntent)):

We currently rely on using the other method above which should be used for foreground use-cases.

[2018-06-05 19:45] tobrun commented on #159
cc @mapbox/mobile-telemetry

[2018-06-07 18:59] JoelNieman commented on #129
Any update on when we can expect this fix to be available?

[2018-06-14 09:12] tobrun opened #161 "Update to play-services-location:15.0.1"
We are using `11.0.4` atm, see [here](https://github.com/mapbox/mapbox-events-android/blob/master/gradle/dependencies.gradle#L12). Please update to the most recent version. With updating you will notice that FusedLocationApi has been deprecated (deprecation happened on October 24, 2017).

cc @electrostat @zugaldia

[2018-06-14 09:14] tobrun opened #162 "Update MAS to 3.2.0"
Current used version of MAS is 2.2.6, see [here](https://github.com/mapbox/mapbox-events-android/blob/master/gradle/dependencies.gradle#L11). Please update to the most recent version.  Additionally do not pull in the full library if you only need a subset of the API.

cc @electrostat @zugaldia

[2018-06-14 09:19] tobrun opened #163 "Batch location events"
To optimize background location update. It's advised to use batching of location updates.

See related javadoc [here](https://developers.google.com/android/reference/com/google/android/gms/location/LocationRequest#setMaxWaitTime(long)).

Refs #159

cc @electrostat @zugaldia

[2018-06-14 19:12] electrostat commented on #162
Just checked and we actually don't require MAS in the events or core sdks. Looks to be an old dependency from the previous iteration of the library. Will remove. Thanks for catching this.

[2018-06-15 15:33] electrostat opened #165 "3.1.3 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.1.3` in `gradle.properties`
- [x] change version name of Android Core to `0.2.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.1.3` artifact to Maven Central
- [x] Change version name back to `3.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-06-15 16:37] #165 closed

[2018-06-15 17:39] #162 closed

[2018-06-19 06:31] ashwinimali-neo opened #168 "locationEngine's getLastLocation() method returning Null location. Using locationEngineProvider's obtainBestLocationEngineAvailable() method to get location provider."
Hello Team,
I have implemented one demo using MapBox navigation sdk by following below tutorial:
https://www.mapbox.com/help/android-navigation-sdk/

It gives me current location of user and I can even get route of destination selected by user and can start navigation towards destination.
Issue is demo works successfully on some devices like Moto however it's not working on Samsung and Xiomi devic

[2018-06-19 10:49] Atternatt opened #169 "Issues when requesting Location with Engine"
Calling `requestLocationUpdates()` makes the app crash.

**dependencies:**
`implementation "com.mapbox.mapboxsdk:mapbox-android-sdk:6.1.3"`
`implementation "com.mapbox.mapboxsdk:mapbox-android-core:0.2.0"`
`implementation 'com.mapbox.mapboxsdk:mapbox-android-plugin-locationlayer:0.5.0'`
`implementation 'com.google.android.gms:play-services-base:15.0.1'`
`implementation('com.google.android.gms:play

[2018-06-28 05:31] ralphgabrielle commented on #132
locationEngineProvider.obtainLocationEngineBy(LocationEngine.Type.GOOGLE_PLAY_SERVICES);

returns null on 0.6.0 SNAPSHOT. Overall, is there's a way to get the users location ? I followed several Navigation tutorial by Mapbox but is not working on some device.

[2018-07-02 14:06] MariusBoepple opened #170 "NullPointerException in TelemetryUtils.obtainApplicationState()"
**Platform:** Android 7 and 8
**Mapbox SDK version:** `6.1.0`

We have quite a few of the following crash reports:

### Stacktrace

    java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object android.content.Context.getSystemService(java.lang.String)' on a null object reference
        at com.mapbox.android.telemetry.TelemetryUtils.obtainApplicationState(TelemetryUtils.j

[2018-07-03 21:16] electrostat commented on #170
@MariusBoepple this is a bug that was addressed in the `3.1.1` version of the telemetry library. That was included in our Maps SDK `6.1.2` and higher. I would bump up to at least 6.1.2 or even the latest release of `6.2.1`. That should handle your issue.

[2018-07-03 21:16] #170 closed

[2018-07-06 14:43] electrostat opened #174 "Investigate and Fix possible Doze bug"
A single report of a crash regarding binding our TelemetryService in Nougat hints that there are other circumstances that this https://github.com/mapbox/mapbox-events-android/pull/157 bug happens under. My suspicion is a likely relation to Doze or possible Samsung app over-management.

Will investigate further and come up with a solution for pre-Oreo builds.

cc: @zugaldia

[2018-07-09 14:39] electrostat opened #175 "3.1.4 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.1.4` in `gradle.properties`
- [x] change version name of Android Core to `0.2.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.1.4` artifact to Maven Central
- [x] Change version name back to `3.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-07-09 15:40] #175 closed

[2018-07-09 19:23] electrostat commented on #168
@ashwinimali-neo Sorry for the delay. I was unable to replicate this bug on a Samsung device, but I did a bit of research and I think I know what's going on here. If you are using our `GoogleLocationEngine`, we are using Google's `FusedLocationProvider`.  Looking at their [documentation](https://developers.google.com/android/reference/com/google/android/gms/location/FusedLocationProviderClient#get

[2018-07-09 19:23] #168 closed

[2018-07-10 13:43] wbearand commented on #158
@danesfeder : Unfortunately I can confirm that, it is the same for me.

I was having issues with the current location in both a MapView and NavigationView, my shown position was somewhere else and never refreshed.

when i add
implementation 'com.google.android.gms:play-services-location:15.0.1'
i can see the location arrow on the right position. also,
locationEngine.obtainType() changes from
ANDRO

[2018-07-10 20:18] wbearand commented on #158
It seems to me now that it works as expected.

There is just a little difference between locationEngine Type Android and GooglePlay =>
with Android, locationEngine.getLastLocation() always delivered some coordinate.

With GooglePlay, locationEngine.getLastLocation() is null, then after requestLocationUpdates sometime later onLocationChanged is triggered, and thats when location is ready, and deter

[2018-07-11 14:59] lilykaiser opened #177 "Change useragent in Maps SDK for Android traffic to `mapbox-maps-android`"
Please change the useragent string for the Maps SDK for Android to `mapbox-maps-android` from `MapboxEventsAndroid`.

I did a quick spot check yesterday:
- iOS Maps SDK traffic has `mapbox-maps-ios` in the useragent
- Navigation uses `mapbox-navigation-android` or `mapbox-navigation-ios`

Changing the Android Maps SDK to `mapbox-maps-android` will bring it in line with our other mobile traffic.

T

[2018-07-11 17:08] lilykaiser commented on #147
Fixed in https://github.com/mapbox/mapbox-events-android/pull/156

[2018-07-11 17:08] #147 closed

[2018-07-11 19:11] electrostat commented on #169
@Atternatt Did some digging and figured out the problem. You are not setting the priority  for the location engine. Something like `locationEngine.setPriority(LocationEnginePriority.HIGH_ACCURACY)` before you `activate` the engine will solve your problem.  You can use any of the priority levels we offer.

I will work on a solution for when a developer does not set a priority to prevent this crash

[2018-07-12 22:01] electrostat commented on #132
This is being handled through this PR: https://github.com/mapbox/mapbox-events-android/pull/178

[2018-07-14 21:31] Crashthatch opened #181 "java.lang.NullPointerException in com.mapbox.android.telemetry.TelemetryUtils.obtainSharedPreferences on Android 8.1"
Seeing this crash in Google Play Console crash reports since I upgraded to the latest version.
8 crash reports so far, all on Android 8.1, using mapbox-events-android:3.1.4, being called from within Unity.

[code]

[2018-07-16 14:43] #132 closed

[2018-07-16 14:43] #169 closed

[2018-07-16 15:04] electrostat commented on #132
@Niduank @ralphgabrielle I just pushed a new Snapshot for the Core library that should fix your problem `0.3.0-SNAPSHOT`. Give it a look and confirm it solves the crash you were seeing. I'll work on rolling this into the next available maps release.

[2018-07-16 15:04] #174 closed

[2018-07-18 14:11] tobrun opened #182 "Problem with ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION permission"
Reposting this from https://github.com/mapbox/mapbox-gl-native/issues/12424:

------------------------

### Steps to reproduce

 1. Add:
[code]
 2.
Somewhere in your main activity add method and call them
[code]
 3. Allow to use Location
4. When application is running and you already allowed to using location go to app settings in android and disable location permission for your app
5. Go back to

[2018-07-18 14:30] tobrun commented on #182
cc @electrostat @zugaldia

[2018-07-18 20:06] electrostat commented on #182
@tobrun thanks for this. Was able to replicate the bug. I'll work on a solution.

[2018-07-19 11:45] jethro-2018 commented on #158
How did you resolve this? @wbearand

I am facing the same issue, type Android never seems to retrieve a location but GooglePlay does and then navigation doesn't work as you mentioned.

[2018-07-23 10:45] LukasPaczos opened #185 "GoogleLocationEngine proguard setup"
Based on the [StackOverflow](https://stackoverflow.com/a/51476846/9126211) question, including google play location services and using `GoogleLocationEngine` requires `proguard-rules.pro` tweaks for realease builds.

/cc @electrostat @tobrun @zugaldia

[2018-07-23 12:12] LukasPaczos opened #186 "Post AndroidLocationEngine#activate"
Even though we found the issue in https://github.com/mapbox/mapbox-plugins-android/issues/601, what do you think about posting the [`AndroidLocationEngine#activate`](https://github.com/mapbox/mapbox-events-android/blob/master/liblocation/src/main/java/com/mapbox/android/core/location/AndroidLocationEngine.java#L74-L76) block to the end of the message queue to not require the right order of the met

[2018-07-23 15:04] #182 closed

[2018-07-23 17:31] Guardiola31337 opened #187 "AndroidLocationEngine LocationManager#getLastKnownLocation always null"
While testing https://github.com/mapbox/mapbox-plugins-android/pull/602 I noticed https://github.com/mapbox/mapbox-plugins-android/pull/602#issuecomment-407073536

[2018-07-23 17:49] electrostat opened #188 "Investigate NPE due to TelemetryService.obtainBoundInstances()"
A non-replicable bug has been reported where an NPE is thrown when attempting to obtainBoundInstances. This is caused by when stopping the Telemetry Service.

Will investigate further and track down cause/solution.

[2018-07-23 20:07] #129 closed

[2018-07-23 20:43] electrostat commented on #181
I am currently investigating this and will get back to you, when I have more information to share.

[2018-07-23 20:55] electrostat commented on #129
PR https://github.com/mapbox/mapbox-events-android/pull/157 has landed, which fixes this bug. Closing issue. Reopen and advise if still an issue.

[2018-07-24 18:03] electrostat commented on #181
@Crashthatch I've am addressing this within this PR: https://github.com/mapbox/mapbox-events-android/pull/190 . Looks to be a result of a null context under certain circumstances. I've added a check to the system to prevent this and get an appropriate context.

[2018-07-24 19:12] Crashthatch commented on #181
Looks like your fix should work to me. I'll update after the next release and keep an eye on the live crash logs for a few days to check this is resolved.

[2018-07-24 19:53] rlaguerre opened #191 "Crash in MapEventFactory.java"
Since we updated our mapbox sdk version to 6.2.1, we are getting a significant number of crashes at MapEventFactory.java line 50 :
[code]
Mapbox SDK version: 6.2.1
Android target version: 26
Min Android version supported: 18
Observed on Android versions: 8.0.0 to 9 (P)

Is this a known issue and can turning off the telemetry fix it?

[2018-07-26 14:33] #185 closed

[2018-07-26 20:45] zugaldia commented on #191
@rlaguerre Thanks for the report. This seems to indicate the Maps SDK hasn't been properly initialized. Could you share when and how are you calling `Mapbox.getInstance`?

[2018-07-26 21:05] rlaguerre commented on #191
It’s called in our Application onCreate()
```Mapbox.getInstance(this, BuildConfig.MAPBOX_API_KEY)```
So it’s only called once when our application is launched

[2018-07-27 09:22] LukasPaczos commented on #191
Hey @rlaguerre, thanks for reporting the issue! Is your Mapbox access token starting with `sk.`? If yes, this issue was patched up in https://github.com/mapbox/mapbox-gl-native/pull/12405 and ultimately fixed in https://github.com/mapbox/mapbox-gl-native/pull/12458.

Generally, upgrading to `v6.3.0` of the Maps SDK should resolve the issue. Closing as resolved, but feel free to reach out if that's

[2018-07-27 09:22] #191 closed

[2018-08-08 20:10] #181 closed

[2018-08-08 20:46] electrostat opened #194 "3.1.5 Telemetry + 0.2.1 Core Releases"
### Release checklist

- [x] Change version name of Android Telemetry to `3.1.5` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] Publish `3.1.5` and `0.2.1` artifacts to Maven Central
- [x] Change version name back to `3.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Ta

[2018-08-08 21:29] langsmith commented on #194
Done 🕺

[2018-08-08 21:29] #194 closed

[2018-08-09 18:03] zugaldia commented on #177
_If_ we decide to make this change, this string should be updated too: https://github.com/mapbox/mapbox-gl-native/blob/release-espresso/platform/android/MapboxGLAndroidSDK/build.gradle#L33

[2018-08-13 14:10] zugaldia commented on #177
/cc: @mick @angelanavarro

[2018-08-16 13:45] LukasPaczos opened #198 "Strict mode violation"
Refs https://github.com/mapbox/mapbox-events-android/issues/140.

Telemetry is violating the strict mode:
[code]

[2018-08-21 11:25] KaviPaviTwins commented on #129
Can you share the updated code for the telementary issue in mapbox.

[2018-08-21 14:00] zugaldia commented on #129
@KaviPaviTwins this fix went out with v3.1.3 of the telemetry library and should be available in the latest version of the Mapbox Maps SDK. Please let us know if you still see the issue after upgrading.

[2018-08-21 20:18] lilykaiser commented on #177
I discussed with @mick the week before last and confirmed that we would like to make this change to bring the Maps Android SDK in line with other user agents, and that making this change wouldn't break anything that exists in our back end today. I'll cut a ticket to update https://github.com/mapbox/mapbox-gl-native/blob/release-espresso/platform/android/MapboxGLAndroidSDK/build.gradle#L33

[2018-08-22 04:25] tobrun commented on #177
PR upstream -> https://github.com/mapbox/mapbox-gl-native/pull/12706, will ship with alpha v6.5.0 today

[2018-08-22 17:00] linnar opened #199 "Too generic proguard keep rule"
Proguard rule changed in #189 keeps almost everything from Google Play Services libraries resulting in around 6 thousand additional methods kept in our apk. Is it possible to replace this rule with more targeted ones?

[2018-08-22 21:07] lilykaiser commented on #177
Thanks @tobrun ! Can https://github.com/mapbox/mapbox-events-android/pull/179 now be merged @zugaldia @electrostat ?

[2018-08-22 21:16] electrostat commented on #177
@lilykaiser should be able to be done, as long as I get a ✅

[2018-08-23 14:58] #177 closed

[2018-08-23 17:48] electrostat commented on #177
This was closed by: https://github.com/mapbox/mapbox-events-android/pull/179

[2018-08-27 19:54] electrostat commented on #146
After researching and investigating this situation, there is a big hole within our Telemetry sdk that could cause this crash. The hole results from event creation and the Telemetry Service from being decoupled from the `MapboxTelemetry` class. This means we can generate events (before pushing them) without `applicationContext` being set and `TelemetryService` could be generated and function withou

[2018-08-27 20:04] electrostat opened #200 "VisionSDK Binary Event and logic"
Before the release of the VisionSDK, we need to add a new event that takes a binary file for video/photos and relevant metadata. The visionSDK will handle it's own upload logic for this event (based on data connection and timing) so this event will need to be `whitelisted` for immediate upload.

There are a few items we need to flesh out from the rest of the team.
- agreed upon event name (VisionB

[2018-08-28 18:15] lilykaiser commented on #188
Capturing that @zugaldia suggested internally to

[2018-08-28 18:27] lilykaiser opened #201 "checkApplicationContext follow-ups"
In review for https://github.com/mapbox/mapbox-events-android/pull/190, @danesfeder left the following feedback, which we should incorporate into the library.

- Is there a specific reason we don't set the applicationContext in TelemetryService#onCreate? It looks like this check has been added in a few different spots now.
- Also noting that we are using a combination of MapboxTelemetry.applicatio

[2018-08-28 18:52] electrostat commented on #146
Researched #3 from above and all options require context to be used.

[2018-08-28 18:55] electrostat commented on #146
I pulled in all the relevant tickets from previous instances of this context being null and causing issues. Putting them all here for easy access and review when solution has been made.

https://github.com/mapbox/mapbox-gl-native/issues/12748
https://github.com/mapbox/mapbox-events-android/pull/144
https://github.com/mapbox/mapbox-events-android/issues/201 -- will include in PR
https://github.com/

[2018-08-28 19:26] zugaldia commented on #146
Can we start with adding null check guards while we work on a longer term solution? I'd be interested in a fix able to make it to the upcoming Maps `f` release (due Sep 12).

[2018-08-28 19:32] electrostat commented on #146
@zugaldia we already have extensive null checks to get to this point. I will investigate where else we can add them. Per https://github.com/mapbox/mapbox-gl-native/issues/12748 we already have a null check there when destroying the service.

[2018-08-28 19:37] zugaldia commented on #146
I think you're referring to a different issue, https://github.com/mapbox/mapbox-gl-native/issues/12748 isn't a NPE on the service but on telemetry utils. There's no null check in the code I linked.

[2018-08-28 22:01] lilykaiser opened #203 "Remove map event creation code from the mapbox-events-android library"
Per internal conversation, step 3 in the effort to streamline event ingestion is to pull Map Events creation code (classes, factories, test, etc...) out of the Telemetry Repo. (In parallel with [putting it in mapbox-gl-native](https://github.com/mapbox/mapbox-gl-native/issues/12757)). Let's do it!

Related nav ticket: https://github.com/mapbox/mapbox-events-android/issues/204

[2018-08-28 22:08] lilykaiser opened #204 "Remove nav event creation code from the mapbox-events-android library"
Per internal conversation, step 4 in the effort to streamline tracking event ingestion is to refactor event creation code (classes, factories, test, etc...) [into the nav SDK](https://github.com/mapbox/mapbox-navigation-android/issues/1246) and out of mapbox-android-events. Creating this ticket as a placeholder.

Related maps ticket: https://github.com/mapbox/mapbox-events-android/issues/203

[2018-08-28 22:26] lilykaiser commented on #141
Hi all, it seems like the questions in the Op have been answered for the most part so I'm closing this ticket. Please create a new ticket with any lingering issues.

[2018-08-28 22:26] #141 closed

[2018-08-29 04:05] tobrun commented on #143
yes afaik and yes

[2018-08-29 15:23] electrostat commented on #143
@lilykaiser there has been some work done here, but I have to go through and make sure that it is fully done and/or see what else can be done.

[2018-09-02 20:02] PieterVenter77 opened #206 "MapView in recycler does not allow movement of the map"
Hi, I have a question or potential issue regarding mapviews in a recycler. I have a recycler view with a mapbox instance as an item, however I can't really move or navigate the map, it moves a bit or just makes the recycler move. If I put mapbox in a nestedscrollview it will not display. Is there something I can set or a way of making sure a touch navigation is for the mapbox and not the recycler

[2018-09-06 14:34] #200 closed

[2018-09-10 17:34] andrlee opened #207 "java.lang.ClassCastException: android.os.BinderProxy cannot be cast to com.mapbox.android.telemetry.TelemetryService$TelemetryBinder"
Dups: https://github.com/mapbox/mapbox-gl-native/issues/12460

[2018-09-10 17:44] andrlee opened #208 "Use IntentService with PendingIntent to receive background location updates"
Original ticket: https://github.com/mapbox/mapbox-events-android/issues/159

[2018-09-10 17:45] andrlee commented on #208
dup, sorry i thought original ticket was created against maps sdk

[2018-09-10 17:45] #208 closed

[2018-09-10 20:18] andrlee commented on #206
/cc @tobrun would you be able to help?

[2018-09-10 22:00] tobrun commented on #206
@PieterVenter77 this issue you are noticing is that you have two views in your view hierarchy that are fighting over the touch event. You can solve this issue by an overriden onTouchIntercept event, this allows you to decide who wins this touch event.

That said, I wouldn't advice putting a GLSurfaceView inside a scrollable container, this won't provide a great UX. For these type of designs/scenar

[2018-09-10 22:00] #206 closed

[2018-09-11 10:10] msh91 opened #210 "Obtain best location engine always returns `GoogleLocationEngine`"
We have an issue with `LocationEngineProvider`. It always returns `GoogleLocationEngine` as the best engine, but in some situations like when 'google play services' is not available or is out of date, so we can use `AndroidLocationEngine` instead.

[2018-09-11 10:19] msh91 commented on #210
I've created a [PR](https://github.com/mapbox/mapbox-events-android/pull/211) to add this feature.
Please let me know your opinion about it.

[2018-09-11 20:54] electrostat opened #213 "3.2.0 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.2.0` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.2.0` artifact to Maven Central
- [x] Change version name back to `3.3.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-09-11 22:10] langsmith commented on #213
🏁

[2018-09-11 22:10] #213 closed

[2018-09-17 15:22] #207 closed

[2018-09-21 15:27] #199 closed

[2018-09-25 17:02] tobrun opened #219 "Update tooling and latest dependencies"
With upcoming major update, we should start looking into bumping dependencies and tooling:
 - [compile](https://github.com/mapbox/mapbox-events-android/blob/master/gradle/dependencies.gradle#L6) to 28
 - [target](https://github.com/mapbox/mapbox-events-android/blob/master/gradle/dependencies.gradle#L5) to 28
 - [build-tools](https://github.com/mapbox/mapbox-events-android/blob/master/gradle/depend

[2018-09-25 18:08] electrostat opened #220 "Passive Permissions Bug"
Experiencing an issue where our `Passive` location engine is attempting to start without the required permissions and causing an exception.

Message: `"passive" location provider requires ACCESS_FINE_LOCATION permission.`

Need to investigate causes of this bug and work on solution to prevent it in the future.

cc: @andrlee

[2018-09-25 22:21] electrostat opened #222 "Add Exception for Missing FINE Location Permission"
Add an exception that will be thrown when `ACCESS_FINE_LOCATION` permission is removed and before the `Passive` location engine is started by the service. Prevent potential crash and communicate issue to developer.

[2018-09-25 22:31] #188 closed

[2018-09-25 22:39] electrostat opened #223 "3.2.1 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.2.1` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.2.1` artifact to Maven Central
- [x] Change version name back to `3.3.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-09-25 23:16] #223 closed

[2018-09-26 10:02] yunikkk opened #225 "FileAttachments seems to be sent two times"
Using telemetry lib version 3.2.0 I noticed weird debugging logs about sending attachment events when `MapboxTelemetry.disable()` is called.
Though, seems that attachments are already sent and callbacks `onAttachmentResponse` fired.

Digged a bit into a source code and looks that attachments are sent AND placed into the queue at the same time, so they later are sent one more time.

[2018-10-01 13:58] electrostat commented on #225
Looked into this. The `AttachmentEvent` is being added to the queue still, but the files are not re-uploaded. We are basically sending the metadata of the attachments 2x. To eliminate this, we should change how we handle `sendEventIfWhitelisted`. There is a missing `return true` line within the attachment if statement, which causes the queueing logic to still continue after the fact.

[2018-10-01 17:14] electrostat commented on #225
We also should add a unit test to check if whitelisted events are added to the queue. Will work on this tomorrow.

[2018-10-04 21:13] #225 closed

[2018-10-06 23:04] KairisCharm opened #230 "Crash on Samsung devices from AlarmManager"
I recently started a beta release of a new version of my app that uses MapBox. 2 of our beta testers have reported this crash, one using a Samsung Galaxy S8, and the other using a Samsung Galaxy Note8, both running Android 8.0.

  at com.mapbox.mapboxsdk.maps.Telemetry.obtainTelemetry (Telemetry.java:73)
  at com.mapbox.mapboxsdk.maps.Telemetry.initialize (Telemetry.java:30)
  at com.mapbox.mapbox

[2018-10-06 23:09] andrlee commented on #230
/cc @electrostat

[2018-10-08 14:28] #222 closed

[2018-10-08 15:17] electrostat commented on #220
Addressed by: https://github.com/mapbox/mapbox-events-android/pull/227

[2018-10-08 15:17] #220 closed

[2018-10-08 19:37] electrostat opened #232 "3.3.0 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.3.0` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.3.0` artifact to Maven Central
- [x] Change version name back to `3.4.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-10-08 21:03] #232 closed

[2018-10-08 22:08] langsmith commented on #232
All done on my end @electrostat

[2018-10-08 22:09] langsmith commented on #232
Nevermind. Just saw that you already closed this

[2018-10-09 18:58] malwoodsantoro opened #234 "Unexplained crashes related to Telemetry after upgrading to 6.5.0"
Likely related to https://github.com/mapbox/mapbox-events-android/issues/146

Crashlytics report:
![image](https://user-images.githubusercontent.com/19801577/46691614-29c60900-cbba-11e8-9d75-c50929f34776.png)

This appears to only be affecting users on Android 5.

[2018-10-10 20:27] andrlee commented on #186
fixed by https://github.com/mapbox/mapbox-events-android/pull/229

[2018-10-10 20:27] #186 closed

[2018-10-10 20:30] andrlee commented on #161
fixed by https://github.com/mapbox/mapbox-events-android/pull/229

[2018-10-10 20:31] #161 closed

[2018-10-10 20:31] andrlee commented on #143
fixed by https://github.com/mapbox/mapbox-events-android/pull/229

[2018-10-10 20:31] #143 closed

[2018-10-10 21:01] andrlee commented on #159
@tobrun now that liblocation supports both batching and background mode. can this ticket be closed? it is not super clear to me whether the scope of it also covers integration into libtelemetry? thoughts?

[2018-10-12 03:11] andrlee opened #238 "[Android] Lack of telemetry for Alitrip's Android app"
Linking https://github.com/mapbox/alitrip-internal/issues/5

[2018-10-12 04:39] #238 closed

[2018-10-12 17:31] #219 closed

[2018-10-12 19:51] andrlee commented on #159
Fixed by https://github.com/mapbox/mapbox-events-android/pull/236

[2018-10-12 19:51] #159 closed

[2018-10-12 19:51] andrlee commented on #163
Fixed by https://github.com/mapbox/mapbox-events-android/pull/236

[2018-10-12 19:51] #163 closed

[2018-10-16 22:02] electrostat opened #242 "3.4.0 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.4.0` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.4.0` artifact to Maven Central
- [x] Change version name back to `3.5.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-10-16 22:19] electrostat commented on #242
Cherry-picked: https://github.com/mapbox/mapbox-events-android/pull/235

To pass tests and match current events schema.

[2018-10-19 05:10] andrlee commented on #242
@electrostat should we fix release process? why can't we trigger release when git tag is pushed?

[2018-10-19 07:59] tobrun commented on #242
This is what we do downstream in gl-native, relevant parts of circle ci config:
 - https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L20
 - https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L601
 - https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L637

[2018-10-22 17:32] electrostat opened #248 "Trigger Release on Git-Tag Push"
Goal is to trigger a release when a new tag is pushed to this repo. Follow similar system in gl-native repo, suggested by @tobrun, to do a github release:
- https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L20
- https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L601
- https://github.com/mapbox/mapbox-gl-native/blob/master/circle.yml#L637

cc: @andrlee

[2018-10-22 17:32] electrostat commented on #242
@andrlee @tobrun handling this here: https://github.com/mapbox/mapbox-events-android/issues/248

[2018-10-22 17:32] #242 closed

[2018-10-23 15:29] electrostat opened #250 "Start/Stop Service vs Bind/Unbind"
`startService`/`stopService` and `bindService`/`unbindService` are used within logic of controlling our telemetry service. We need to weed out duplicate code and make sure there are no logic holes that would result into the system not functioning properly. (i.e. `unbindService` won't stop service started with `startService`).

[2018-10-23 18:15] electrostat opened #251 "3.5.0 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.0` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.0` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-10-24 03:07] langsmith commented on #251
API docs added @electrostat 🏁

[2018-10-24 14:58] #251 closed

[2018-10-25 18:53] electrostat opened #255 "3.5.1 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.1` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.1` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-10-26 00:33] langsmith commented on #255
Docs added @electrostat 🏁 🕺

[2018-10-26 10:20] linnar opened #258 "Release libcore with #217 more specific Proguard rules"
I would like to use the more specific rules introduced in #217 but the currently released version 0.2.1 of libcore does not include this improvement and 0.3.0-SNAPSHOT is not compatible with other libraries used in 6.6.1 release of mapbox-android-sdk. Thank you for considering this or explaining current release roadmap.

[2018-10-26 14:35] #255 closed

[2018-10-26 16:32] andrlee commented on #258
@linnar we plan to release major update of maps sdk, which includes major updates of libcore and libtelemetry in December. Hope this timeline works for you.

[2018-10-26 17:34] electrostat opened #259 "4.0.0 Telemetry + 1.0.0 Core Release"
### Release checklist

- [x] Change version name of Android Telemetry to `4.0.0` in `gradle.properties`
- [x] change version name of Android Core to `1.0.0` in gradle.properties
- [x] Publish `4.0.0` and `1.0.0` artifacts to Maven Central
- [x] Change version name back to `4.1.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.1.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Ta

[2018-10-26 17:38] linnar commented on #258
Thank you, I wasn't sure it about this as I already saw the pull request in the release notes. I will plan with this timeline in mind.

[2018-10-26 17:38] #258 closed

[2018-10-26 17:39] andrlee commented on #259
@electrostat one thing we might need to fix before releasing is `@since 3.0.0` -> `@since 1.0.0` annotations in liblocation public api.

[2018-10-29 03:19] Chaoba opened #261 "Modify CI to let tests also run on Android 4.4"
A [crash](https://github.com/mapbox/tiktok-internal/issues/3) happened when tiktok try to use our sdk,  Most of the crashed happened on Android 4.4.4 and below. So, we need let the CI also run on v4.4 images and add some test cases to guarantee it will not happen again.

@springmeyer

[2018-10-29 03:33] springmeyer opened #262 "Reporting + tracking test code coverage over time"
@mapbox/china-engineering is putting effort on enabling code coverage reporting for all critical code paths that impact our customers.

As such we've helped the @mapbox/maps-api and @mapbox/platform team's add coverage reporting to many repos they maintain (https://github.com/mapbox/china-engineering/issues/22) with the ultimate goal of improving test coverage and the ability to safely refactor co

[2018-10-29 03:48] Chaoba commented on #262
@springmeyer That's great, be happy to help in adding code coverage tracking.

[2018-10-29 04:35] andrlee commented on #262
@springmeyer thanks for bringing this up! jacoco integration for both unit and integration tests are on the way to this repo. I'll be adding it as part of my next PR in this repo, CI integrations are coming as well. is @mapbox/china-engineering publishing code coverage reports together with artifacts?

[2018-10-29 04:46] andrlee commented on #146
@electrostat one of the options to consider is to replace all instances where `MapboxTelemetry.applicationContext` is called with `getApplicationContext()` calls in `TelemetryService` class. Please think about it and consider implementing a few integration tests that prove this theory.

[2018-10-29 16:00] electrostat commented on #146
@andrlee
1. Correct. Issue with service `Context` crashes is this exact issue.
2. This should work for everything within `TelemetryService`. We are only missing this in 1 or 2 places, since we migrated the majority with a check of `MapboxTelemetry.applicationContext`. Best to remove that check and move everything to `getApplicationContext()` exclusively.
3. I agree with this for a future refactor

[2018-10-29 16:07] electrostat opened #263 "Migrate TelemetryService to using getApplicationContext()"
Address this work: https://github.com/mapbox/mapbox-events-android/issues/146#issuecomment-433968009

To prevent possible instances where `MapboxTelemetry.applicationContext` is null due to differing lifecycles, we will migrate from using this static context within our `TelemetryService` to using `getApplicationContext()`. This will prevent odd crashes we are noticing in over-managed OS's and unde

[2018-10-29 17:01] andrlee commented on #263
@electrostat i think the problem might be bigger than just invalid context ref, we need to get to the root cause: i.e. why context is null in a first place. You might need to instrument `TelemetryService` to get to that.

[2018-10-29 18:36] langsmith commented on #259
Done on my end @electrostat 🎊

[2018-10-29 19:13] #259 closed

[2018-10-29 20:20] springmeyer commented on #262
@andrlee that is awesome to hear!

I recommend integrating https://codecov.io as a last step. So after jacoco has run you'd run `./codecov` to scoop up the coverage data and make it available to codecov, which then would be a friendly advisor on future PRs that inadvertendly drop coverage due to missing tests. An example of this is underway at https://github.com/mapbox/mapbox-plugin-android-china/

[2018-10-31 20:38] electrostat commented on #230
@KairisCharm  This looks to be a Samsung specific bug related to a `Too Many Alarms` issue. Looks to be a known issue seen here: https://stackoverflow.com/questions/29344971/java-lang-securityexception-too-many-alarms-500-registered-from-pid-10790-u

I'll work on a fix and a test to confirm this is fixed for you.

[2018-11-01 06:31] andrlee commented on #263
Fixed with https://github.com/mapbox/mapbox-events-android/pull/265

[2018-11-01 06:31] #263 closed

[2018-11-01 06:31] andrlee commented on #146
Fixed with https://github.com/mapbox/mapbox-events-android/pull/265

[2018-11-01 06:31] #146 closed

[2018-11-01 06:32] andrlee commented on #201
Fixed with https://github.com/mapbox/mapbox-events-android/pull/265

[2018-11-01 06:32] #201 closed

[2018-11-01 13:33] Chaoba opened #268 "3.5.2 patch not works"
@andrlee I have integrated your aar into Android demo and it will cause compile error
`Caused by: com.android.tools.r8.errors.CompilationError: Program type already present: com.mapbox.android.telemetry.SchedulerFlusherJobServic
 at com.android.tools.r8.utils.ProgramClassCollection.resolveClassConflictImpl(ProgramClassCollection.java:64)`

Then I created a new project, but it will crash with the f

[2018-11-01 18:27] electrostat opened #269 "3.5.2 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.2` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.2` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-11-01 19:22] langsmith commented on #269
Docs added @electrostat

[2018-11-01 19:39] #269 closed

[2018-11-02 02:28] Chaoba opened #271 "Move telemetry classes into different packages"
@andrlee Currently, all telemetry class are in the same package, so the source codes are unclear and hard to read. It will be better if we create more packages and move corresponding classes into right packages.

[2018-11-02 02:33] andrlee commented on #271
@Chaoba telemetry refactor is on the way. I'm working on libcore refactor and other location related changes, we have another ticket that captures all refactor requirements for libtelemetry.

[2018-11-02 02:40] Chaoba commented on #271
Got it, closed.

[2018-11-02 02:40] #271 closed

[2018-11-02 13:07] Chaoba commented on #261
The crash couldn't be reproduced on virtual devices, so let's test it on real phones with android 4.4

[2018-11-02 13:07] #261 closed

[2018-11-03 04:36] andrlee opened #273 "Remove dependency on lifecycle extensions"
Refactor out of Lifecycle extensions introduced in: https://github.com/mapbox/mapbox-events-android/pull/157

[2018-11-03 16:52] andrlee opened #275 "Propagate NavigationState changes to mapbox-navigation-android"
Integrate NavigationState changes to https://github.com/mapbox/mapbox-navigation-android
[code]
the new recommended way of instantiating this class is via this static factory:
[code]
More details: https://github.com/mapbox/mapbox-events-android/pull/272

[2018-11-06 04:24] electrostat opened #277 "Measure Size of SDK"
Measure and track the size of the binary. This will help us track the growth of the binary over time and allow us to communicate size and expectations.

[2018-11-07 21:48] #277 closed

[2018-11-08 05:53] andrlee opened #281 "Unable to disable telemetry on Android"
Link to original ticket: https://github.com/mapbox/mapbox-gl-native/issues/13304

[2018-11-08 21:42] malwoodsantoro commented on #234
Updated stack trace after updating SDK to 6.6.5 -

[code]

cc @electrostat @andrlee

[2018-11-08 21:50] electrostat opened #283 "3.5.3 Release"
### Release checklist

- [ ] Change version name of Android Telemetry to `3.5.3` in `gradle.properties`
- [ ] change version name of Android Core to `0.2.1` in gradle.properties
- [ ] toggle off core release
- [ ] Publish `3.5.3` artifact to Maven Central
- [ ] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [ ] Change version name back to `0.3.0-SNAPSHOT` for core
- [ ]  toggle Core

[2018-11-08 22:24] andrlee commented on #234
fixed by https://github.com/mapbox/mapbox-events-android/pull/272

[2018-11-08 22:24] #234 closed

[2018-11-12 14:51] LukasPaczos opened #289 "LocationEngine leaks the listener"
I'm testing the telemetry library `v4.0.0` as a part of the https://github.com/mapbox/mapbox-gl-native/pull/13233 and I'm running into leaks when requesting location updates - whenever the activity that requests and removes location updates is finished, it leaks context via the `LocationEngine`.

[code]

When using the `play-services-location` I'm running into:
![device-2018-11-12-153528](https://

[2018-11-13 06:00] andrlee commented on #230
fixed with https://github.com/mapbox/mapbox-events-android/pull/267

[2018-11-13 06:00] #230 closed

[2018-11-20 10:28] BenDenen opened #291 "User Agent is not set up for Vision SDK Attachments. New User Agent needed"
We are testing Vision SDK and found out that we can not set up right User Agent for Telemetry SDK. There are 2 issues:
1) We need new User Agent (`MapboxVision`) in list of supported Agents
[Link to the code](https://github.com/mapbox/mapbox-events-android/blob/e7b05b1ab42b3bf01bba6c3517b7ec15d6521393/libtelemetry/src/main/java/com/mapbox/android/telemetry/MapboxTelemetry.java#L39)

2) Telemetry C

[2018-11-22 03:41] andrlee commented on #289
@LukasPaczos i'm just done with a refactor of listener management logic here: https://github.com/mapbox/mapbox-events-android/pull/290, while root cause of the leak is fixed `SimpleActivity` will still leak even if you test with latest snapshot, i will provide more details in https://github.com/mapbox/mapbox-gl-native/pull/13233 how to fix it. Let's merge this and test with snapshot.

[2018-11-24 01:52] andrlee commented on #289
Fixed with https://github.com/mapbox/mapbox-events-android/pull/290

[2018-11-24 01:52] #289 closed

[2018-11-26 18:37] #291 closed

[2018-11-26 19:27] electrostat opened #294 "3.5.5 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.5` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.5` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-11-26 23:19] electrostat opened #296 "Missing UserAgent Header from Config Request"
Config request is missing a UserAgent Header. This is related to https://github.com/mapbox/mapbox-events-android/issues/291 which had the same issue with our Attachment request.

- [x] add user agent header to config request
- [x] ensure all other requests have appropriate header
- [x] confirm fix in staging with @l-r

cc: @chriswu42 @andrlee

[2018-11-27 01:37] langsmith commented on #294
Done on my end @electrostat

[2018-11-27 05:35] chancyWu opened #298 "NullPointerException in TelemetryUtils.obtainApplicationState()"
Platform: android 8
Mapbox SDK version: 6.7.0

Even though i disable the telemetry,
[code]
 the error still happen and cause the app crash. The crash log is as below: quite similar to #170

[2018-11-27 15:37] #294 closed

[2018-11-27 16:31] andrlee commented on #170
@chancyWu this comment:

is a bit misleading, the root cause of the issue was fixed recently can you please try maps sdk 6.7.1 with mapbox-android-telemtry-3.5.4 and let me know if you still experience this same problem?

[2018-11-28 02:34] electrostat opened #300 "4.1.0 Telemetry + 1.1.0 Core Release"
### Release checklist

- [x] Change version name of Android Telemetry to `4.1.0` in `gradle.properties`
- [x] change version name of Android Core to `1.1.0` in gradle.properties
- [x] Publish `4.1.0` and `1.1.0` artifacts to Maven Central
- [x] Change version name back to `4.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.2.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Ta

[2018-11-28 13:50] LukasPaczos opened #302 "Adapt libtelemetry 4.x to operate with ProGuard"
There is a bunch of ProGuard warnings appearing downstream from the telemetry library:
[code]
It'd be great if we could include appropriate rules with the next release here, instead of duplicating those rules downstream. I believe this has been overlooked during [the jacoco integration](https://github.com/mapbox/mapbox-events-android/pull/279/files#diff-39e7d8c00954e920b98e7636f0ac30b2R21) and it

[2018-11-28 15:55] langsmith commented on #300
Done on my end @electrostat

[2018-11-28 16:15] #300 closed

[2018-11-28 17:09] andrlee commented on #302
Fixed with https://github.com/mapbox/mapbox-events-android/pull/303

[2018-11-28 17:09] #302 closed

[2018-11-28 19:40] #275 closed

[2018-11-30 18:18] #296 closed

[2018-11-30 18:38] electrostat opened #305 "3.5.6 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.6` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.6` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-11-30 21:29] electrostat opened #307 "IndexOutOfBounds Exception when getting or removing BLACKLIST_HEADER"
Find root cause of out of bounds exception when parsing Blacklist file. Seems to be related to no data being within Blacklist File, yet file exists.

Initial bug report: https://github.com/mapbox/mapbox-events-android/issues/307#issue-386357114

[2018-11-30 22:06] snkashis commented on #307
So far, this has triggered on two devices, a Moto G (2nd Gen) (Marshmellow), and a TRT-LX3(Nougat)

[code]

[2018-11-30 22:17] electrostat commented on #307
@snkashis thanks for the extra info. This will help in finding the heart of the issue.

[2018-11-30 23:21] langsmith commented on #305
Done on my end @electrostat 👏 👏👏 👏 👏 👏 👏 👏

[2018-12-03 15:06] #305 closed

[2018-12-03 16:04] electrostat opened #308 "4.1.1 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `4.1.1` in `gradle.properties`
- [x] change version name of Android Core to `1.1.0` in gradle.properties
- [x] Publish `4.1.1` artifact to Maven Central
- [x] Change version name back to `4.2.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.2.0-SNAPSHOT` for core
- [x] Update `CHANGELOG.md`
- [x] Tag `v4.1.0` in

[2018-12-03 20:37] danesfeder opened #310 "IllegalArgumentException with minifyEnabled true"
Found in the release build (`minifyEnabled true`) of the navigation test app:
[code]

Added this rule as a quick fix, resolving the crashes:
[code]

[2018-12-03 21:48] langsmith commented on #308
Done on my end @electrostat 🏅

[2018-12-03 21:50] #308 closed

[2018-12-07 15:00] LukasPaczos opened #312 "LocationEngine doesn't respect fastest interval setting"
I'm seeing, that even after setting the `setFastestInterval` option the location updates can be pushed with higher than expected frequency.

Here's a log dump of differences in time between location samples with the fastest interval set to 750ms.
[code]

and here's the setup:
[code]

This particualr example was using `MapboxFusedLocationEngineImpl` and libtelemetry `v4.1.1`.

[2018-12-18 22:09] electrostat opened #315 "Remove Type Restriction for Events"
Remove any Type restrictions for ingesting events. Refactor any relevant code associated with this.

[2018-12-19 15:34] electrostat commented on #307
@snkashis thanks for the additional info. We are working on a whole refactor of the system here: https://github.com/mapbox/mapbox-events-android/pull/311

[2018-12-20 07:19] andrlee commented on #298
closing as stale

[2018-12-20 07:19] #298 closed

[2018-12-20 16:15] #307 closed

[2018-12-20 16:18] electrostat opened #316 "3.5.7 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.7` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.7` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2018-12-20 19:18] langsmith commented on #316
Done on my end @electrostat 🎉

[2018-12-20 19:31] #316 closed

[2018-12-21 20:37] andrlee commented on #315
fixed with https://github.com/mapbox/mapbox-events-android/pull/318

[2018-12-21 20:43] #315 closed

[2019-01-03 15:45] electrostat opened #319 "4.2.0 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `4.2.0` in `gradle.properties`
- [x] change version name of Android Core to `1.1.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `4.2.0` artifact to Maven Central
- [x] Change version name back to `4.3.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.2.0-SNAPSHOT` for core
- [x]  toggle Core

[2019-01-03 18:10] langsmith commented on #319
Done on my end @electrostat  🤜 🤛

[2019-01-03 18:35] #319 closed

[2019-01-09 15:56] electrostat opened #322 "3.5.8 Release"
### Release checklist

- [x] Change version name of Android Telemetry to `3.5.8` in `gradle.properties`
- [x] change version name of Android Core to `0.2.1` in gradle.properties
- [x] toggle off core release
- [x] Publish `3.5.8` artifact to Maven Central
- [x] Change version name back to `3.6.0-SNAPSHOT` for telemetry
- [x] Change version name back to `0.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2019-01-09 19:56] langsmith commented on #322
Done on my end @electrostat  🎉

[2019-01-09 21:13] #322 closed

[2019-01-16 18:22] tobrun opened #325 "Limit dependency on android.arch.lifecycle:extensions"
When running something as the following in a downstream project:

I'm seeing the following output:

[code]

Could we please limit the `android.arch.lifecycle:extensions` to the dependencies we actually need?

[2019-01-22 19:13] electrostat opened #330 "Certificate Blacklist & ConfigurationClient Testing"
Improve testing around `ConfigurationClient` and `CertificateBlacklist`

- [x] Make sure we are unit testing with mockwebserver for errors
- [x] Use Integration tests to test Blacklist system end to end

[2019-01-28 21:59] andrlee commented on #325
fixed with https://github.com/mapbox/mapbox-events-android/pull/331

[2019-01-28 21:59] #325 closed

[2019-01-28 21:59] andrlee commented on #273
fixed with https://github.com/mapbox/mapbox-events-android/pull/331

[2019-01-28 21:59] #273 closed

[2019-01-28 22:48] #330 closed

[2019-02-20 16:57] Guardiola31337 opened #342 "ConcurrentQueue NoSuchElementException race condition"
Run into a weird 💥 when testing:

[code]

Galaxy S7
Android `8.0.0`

Apparently we're incrementing the `count` even if the `queue.add` call is not successful 👀 https://github.com/mapbox/mapbox-events-android/blob/036d95cd6adde056adfe742ff8cc1317242b5daf/libtelemetry/src/main/java/com/mapbox/android/telemetry/ConcurrentQueue.java#L17-L21 which causes the `NoSuchElementException` because it loops th

[2019-02-20 17:35] andrlee commented on #342
@Guardiola31337 thanks for spending time to dig into it! i'll push the fix for it today, any particular release/deliverable is blocked by it?

/cc @mapbox/mobile-telemetry

[2019-02-21 23:40] andrlee commented on #342
Fixed with https://github.com/mapbox/mapbox-events-android/pull/344

[2019-02-21 23:40] #342 closed

[2019-02-22 02:31] Chaoba commented on #342
@chriswu42 @m-stephen

[2019-02-22 10:07] tobrun commented on #198
bump on this, not only still an issue, it's logging even more strictmode warnings:

[code]

cc @andrlee @electrostat

[2019-02-22 14:53] andrlee commented on #198
Thanks for bump @tobrun will take a look!

[2019-02-26 07:37] Chaoba commented on #198
@andrlee It seems that strictmode warnings are caused by this [method](https://github.com/mapbox/mapbox-events-android/blob/6a49d61008d4aac0fc0af55efea9502b364bbd55/libtelemetry/src/main/java/com/mapbox/android/telemetry/TelemetryUtils.java#L187)

To resolve this issue
1. Create a callback interface
2. Add a parameter for `obtainSharedPreferences` method with this callback
3. Create an `AsnycTask`

[2019-02-26 15:26] danesfeder opened #348 "GoogleLocationEngineImpl intermittently provides delayed updates"
In the past week or so of field testing, we have been experiencing some weird behavior from [`GoogleLocationEngineImpl`](https://github.com/mapbox/mapbox-events-android/blob/master/liblocation/src/main/java/com/mapbox/android/core/location/GoogleLocationEngineImpl.java)

The engine, at startup (first request for updates), takes 30 seconds - 1 min to begin a steady stream of updates.  Once the upda

[2019-02-26 19:35] andrlee commented on #348
Based on my preliminary analysis, this is specific to Pie and it looks like it is more sensitive to location request parameters. We've been defaulting to displacement of 3.0m to save on battery but it seems the internal implementation details have evolved around this, so i will remove all default value settings from our wrapper internally.

[2019-02-27 17:24] andrlee commented on #348
fixed with https://github.com/mapbox/mapbox-events-android/pull/350

[2019-02-27 17:24] #348 closed

[2019-02-28 05:40] Chaoba commented on #312
By doing some tests, my preliminary conclusion is that
1. If we use `GoogleLocationEngineImpl`, the fastest interval  will works.
2. If we use `MapboxFusedLocationEngineImpl`, `setFastestInterval` will not works since it will pass the `Interval` parameter to location API and in framework it will set fastest interval with the same value of interval.
3.In this case we set interval to 750ms and still

[2019-03-01 00:00] andrlee commented on #312
@Chaoba since Android framework doesn't support `fastestInterval`, the gist of the ask is to implement downsampling of the location events internally in `MapboxFusedLocationEngineImpl` when both `interval` and `fastestInterval` are provided by the user. Did i miss anything @LukasPaczos ?

[2019-03-01 13:17] LukasPaczos commented on #312
No, I don't think so - if we're exposing this setter, it should be respected regardless of the implementation.

[2019-03-04 20:08] electrostat opened #353 "Release Core 1.2.0"
### Release checklist

- [x] Change version name of Android Telemetry to `4.2.0` in `gradle.properties`
- [x] change version name of Android Core to `1.2.0` in gradle.properties
- [x] toggle off telemetry release
- [x] Publish `1.2.0` artifact to Maven Central
- [x] Change version name back to `4.3.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.3.0-SNAPSHOT` for core
- [x]  toggle

[2019-03-06 17:35] langsmith commented on #353
Done on my end @electrostat  🚀

[2019-03-06 19:26] andrlee commented on #250
no longer an issue due to: https://github.com/mapbox/mapbox-events-android/pull/351

[2019-03-06 19:26] #250 closed

[2019-03-06 19:52] #353 closed

[2019-03-08 06:23] andrlee opened #356 "Refactor TelemetryEnabler into passive shared preferences listener"
`TelemetryEnabler` accesses shared preferences via `MapboxTelemetry#push` method. While most of the time `push` is accessed from background thread it is not guaranteed that the method will not be misused.

Refactor `TelemetryEnabler` into a passive shared preferences change listener.

[2019-03-08 06:37] andrlee commented on #198
These violations have been fixed with https://github.com/mapbox/mapbox-events-android/pull/351 and https://github.com/mapbox/mapbox-events-android/pull/349. This PR adds enhancements to the internal test app and `StrictMode` so hopefully catch these pre-release.

[2019-03-08 06:37] #198 closed

[2019-03-11 05:37] Chaoba opened #357 "StrictMode policy violation: android.os.strictmode.UntaggedSocketViolation: Untagged socket detected"
When run test app on phone, it will keep show error logs and freeze, then crash.
[code]

Solution:
Add call `TrafficStats.setThreadStatsTag(THREAD_ID);` in `com.mapbox.android.telemetry.GzipRequestInterceptor.intercept`

[2019-03-11 16:50] electrostat opened #359 "Remove arch.core + support dependencies"
During testing the current `4.3.0-SNAPSHOT` within the maps sdk, I discovered that we are importing duplicate and conflicting dependencies that is causing issues for the main maps sdk. Excluding them within the gradle removes this problem.

Error Log: `Error: Program type already present: android.support.v4.content.LocalBroadcastManager$BroadcastRecord`

Excluding both `localbroadcastmanager` and

[2019-03-12 00:24] andrlee commented on #359
@electrostat can you put detailed description what have conflicted (error logs) and what you have excluded exactly to make it work? also snapshot of maps and ours `dependencies.gradle` won't hurt to have attached as well..

[2019-03-13 20:11] #359 closed

[2019-03-15 00:14] andrlee commented on #140
fixed by https://github.com/mapbox/mapbox-events-android/pull/347

[2019-03-15 00:14] #140 closed

[2019-03-15 00:15] andrlee commented on #158
closing as stale and due to complete re-write of `LocationEngine`

[2019-03-15 00:15] #158 closed

[2019-03-15 00:17] andrlee commented on #68
closing as stale, @tobrun please re-open if it's still an issue

[2019-03-15 00:17] #68 closed

[2019-03-15 00:19] andrlee commented on #55
finally fixed by https://github.com/mapbox/mapbox-events-android/pull/351

[2019-03-15 00:19] #55 closed

[2019-03-15 03:30] #357 closed

[2019-03-15 14:31] electrostat opened #367 "4.3.0 Telemetry Release"
### Release checklist

- [x] Change version name of Android Telemetry to `4.3.0` in `gradle.properties`
- [x] change version name of Android Core to `1.2.0` in gradle.properties
- [x] toggle off core release
- [x] Publish `4.3.0` artifact to Maven Central
- [x] Change version name back to `4.4.0-SNAPSHOT` for telemetry
- [x] Change version name back to `1.3.0-SNAPSHOT` for core
- [x]  toggle Core

[2019-03-20 00:36] andrlee commented on #367
hey @langsmith did you have a chance to update a javadoc for this release?

[2019-03-22 14:11] langsmith commented on #367
Currently still on vacation. Won't be able to do it until Monday

On Wed, Mar 20, 2019, 1:36 AM Andrey Li <notifications@github.com> wrote:

[2019-03-25 17:54] langsmith commented on #367
@andrlee , docs added in https://github.com/mapbox/android-docs/pull/896

[2019-03-29 10:44] tobrun opened #374 "Last location unavailable crash"
Bit of weird crash:

[code]

When doing:

[code]

and trying to show a location component on the map.

Works well when not having the excluding `'support-compat'` declared.

[2019-03-29 10:46] tobrun opened #375 "Bump dependencies"
|    +--- com.squareup.okhttp3:okhttp:3.10.0 -> 3.14.0
     |    |    \--- com.squareup.okio:okio:1.15.0
     |    +--- com.google.code.gson:gson:2.8.2 -> 2.8.5

[2019-03-29 10:48] tobrun opened #376 "com.android.support:support-core-utils usage"
[code]

Was wondering what the scope of `com.android.support:support-core-utils` is and if it could be potentially removed/downsized?

[2019-03-29 15:22] andrlee commented on #376
@tobrun this change was introduced by: https://github.com/mapbox/mapbox-events-android/pull/363
best fix imho is to bump all support libraries to `28.x.x` then only `localbroadcastmanager` and `support-compat` will be added (perhaps i can even get rid of `support-compat`). what's your thoughts about it?

[2019-03-29 15:24] #367 closed

[2019-03-29 15:24] andrlee commented on #367
@langsmith thanks!

[2019-04-02 16:28] tobrun commented on #376
thanks for following up, was just wondering ;) at some point, when some enterprise customers allow, we should migrate to androidx.

the more we drop the better but we are also using support-compat in maps so wouldn't make a difference for us.

[2019-04-02 16:28] #376 closed

[2019-04-03 09:10] hurrba opened #379 "Not getting location updates on app start"
We experience that we sometimes don't get location updates when starting the app. It happens on seemingly random occasions, which makes it hard to reproduce.

We've experienced this both before and after migrating to version 7.1.2.

The only "solution" when this happens, is to open e.g. Google Maps to start getting location updates again. So, not sure if it's actually a Mapbox or an OS issue?

Any

[2019-04-03 09:41] LukasPaczos commented on #379
Thanks for the report @hurrba. I'm transferring the issue to the `mapbox-events-android` repo which provides the location services wrappers.

/cc @andrlee

[2019-04-03 16:28] andrlee commented on #379
hey @hurrba thanks for reporting this issue. can you please retest with maps sdk https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v7.3.0. I suspect this might have been fixed by https://github.com/mapbox/mapbox-events-android/pull/350 and we shipped this feature as part of core release: https://github.com/mapbox/mapbox-events-android/releases/tag/core-1.2.0

[2019-04-03 21:29] andrlee commented on #281
@Chaoba these two tickets might be related: https://github.com/mapbox/mapbox-gl-native/issues/14235.

[2019-04-04 09:21] Chaoba commented on #281
@andrlee IMHO they are different scenario.

[2019-04-08 00:36] #203 closed

[2019-04-08 23:18] andrlee commented on #379
@hurrba any updates on your end?

[2019-04-09 07:12] hurrba commented on #379
@andrlee  thanks for the reply. we haven't been able to reproduce the errors (but we weren't before either).
I will report back once we have released a version with 7.3.0

[2019-04-10 22:41] osana opened #382 "MapboxTelemetry. updateDebugLoggingEnabled() setting could be ignored"
The issue was noticed in Android Maps sdk TestApp.
Follow the steps in [this](https://github.com/mapbox/mapbox-gl-native/issues/14376url) ticket to reproduce.

Looks like telemetryClient is lazily initialized in MapboxgTelemetry and MapboxTelemetry.updateDebugLoggingEnabled() does not take that into account.

If MapboxTelemetry.updateDebugLoggingEnabled(loggingEnabled) is called before Mapbox.tele

[2019-04-13 03:14] osana opened #384 "Add responseCode logging when TelemetryClient logging is enabled"
When MapboxTelemetry posts an event, it gets a response code back. Knowing the response code is very important when new Telemetry events are being integrated.

The way it is possible to monitor the response code is by adding a TelelemetryListener on MapboxTelemetry. In Android maps sdk  MapboxTelemetry instance is private and thus, TelemetryListner cannot be set. However, there is a public API to

[2019-04-15 17:36] andrlee commented on #379
Thanks for update @hurrba - feel free to reopen if it becomes reproducible again.

[2019-04-15 17:36] #379 closed

[2019-04-16 00:02] andrlee commented on #248
fixed with https://github.com/mapbox/mapbox-events-android/pull/385

[2019-04-16 00:02] #248 closed

[2019-04-16 00:40] andrlee opened #386 "4.4.0 Telemetry Release"
### Release checklist

- [x]  Update snapshot version `4.5.0-SNAPSHOT` for telemetry
- [x]  Update `CHANGELOG.md`
- [x]  Tag `4.4.0` in GitHub
- [x]  Make GitHub Release
- [x]  Publish `4.4.0` artifact to Maven Central

Post release

- [x] Add release javadocs to appropriate spot in /android-docs `api` folder @langsmith

/cc: @mapbox/mobile-telemetry

[2019-04-16 02:27] Chaoba commented on #204
Related [PR](https://github.com/mapbox/mapbox-events-android/pull/383) in telemetry.

[2019-04-16 09:00] Chaoba commented on #204
[PR](https://github.com/mapbox/mapbox-navigation-android/pull/1890) in nav sdk

[2019-04-16 21:30] langsmith commented on #386
Done here 🎬

[2019-04-16 21:30] #386 closed

[2019-04-16 21:53] andrlee commented on #386
thanks @langsmith !

[2019-04-17 20:46] andrlee opened #391 "1.3.0 Core Release"
### Release checklist

- [x]  Update snapshot version `1.4.0-SNAPSHOT`
- [x]  Update `CHANGELOG.md`
- [x]  Tag `1.3.0` in GitHub
- [x]  Make GitHub Release
- [x]  Publish `1.3.0` artifact to Maven Central

Post release

- [x] Add release javadocs to appropriate spot in /android-docs `api` folder @langsmith

/cc: @mapbox/mobile-telemetry

[2019-04-18 02:13] langsmith commented on #391
🎉 🎉 🏁🚗

[2019-04-18 02:13] #391 closed

[2019-04-18 04:18] andrlee opened #393 "4.4.1 Telemetry Release"
### Release checklist

- [x]  Update `CHANGELOG.md`
- [x]  Tag `4.4.1` in GitHub
- [x]  Make GitHub Release
- [x]  Publish `4.4.1` artifact to Maven Central

/cc: @mapbox/mobile-telemetry

[2019-04-18 05:58] andrlee commented on #393
release complete, artifacts available on Maven Central: https://repo1.maven.org/maven2/com/mapbox/mapboxsdk/mapbox-android-telemetry/4.4.1/

[2019-04-18 05:58] #393 closed

[2019-04-24 06:17] goswamiji0 commented on #129
I'm facing this issue in my Oreo Samsung A7 Phone. Anyone have a solution then let me know.

W/System.err: java.lang.IllegalStateException: Not allowed to start service Intent

[2019-04-24 19:57] zugaldia commented on #129
/cc: @andrlee

[2019-04-24 20:05] andrlee commented on #129
hey @goswamiji0 thanks for reporting this. the solution is to upgrade to https://github.com/mapbox/mapbox-gl-native/releases/tag/android-v7.3.2 where `TelemetryService` is    replaced with new collector rebuilt from ground up. Please follow this migration guide: https://github.com/mapbox/mapbox-gl-native/wiki/Android-6.x-to-7.x-migration-guide.

[2019-04-30 01:59] Chaoba commented on #204
@chriswu42.

[2019-05-05 15:37] asegestam opened #395 "'onPermissionResult' not called after granting location permission in Fragment"
Hello, im using a Fragment to show the Mapbox map. I've followed the steps in the guides but they dont seem to work properly inside a fragment. I get the notification popup, and when I grant permission the method 'onPermissionResult'  is never called so I can't react to the user granting permission so my app just waits. It does work however when I restart the app, then it recognizes that the permi

[2019-05-06 16:18] andrlee commented on #395
hey @asegestam thanks for reporting this, could you please post your code snippet with `PermissionsManager` in use?

[2019-05-06 16:38] asegestam commented on #395
Ok, so I have a Fragment implementing `PermissionsListener`. First I enable the location component in `onViewCreated` with this method where I check if the permission is granted, and if not I ask for it:
[code]
and then I have the overriden methods from `PermissionsListener`
[code]
The log in `onPermissionResult` is never made, even if I grant the permission.

[2019-05-06 20:37] andrlee commented on #204
why are we reopening this ticket?

[2019-05-06 23:44] Chaoba commented on #204
@andrlee we haven't done it in nav part.

[2019-05-08 18:30] andrlee commented on #395
@Chaoba can you please take a look when you have a chance?

[2019-05-09 00:48] Chaoba commented on #395
@andrlee No problem, I will take a look at it.

[2019-05-09 03:19] Chaoba commented on #395
@asegestam Thanks for your report.

In `PermissionManager` we will request permission with `ActivityCompat` in this [line](https://github.com/mapbox/mapbox-events-android/blob/5b5ca7e04cb8fab31a8dc040b6e7521f930a58a4/liblocation/src/main/java/com/mapbox/android/core/permissions/PermissionsManager.java#L84), so `onRequestPermissionsResult` callback is called on the activity and not the fragment.

Y

[2019-05-09 08:18] asegestam commented on #395
Thank you, this resolved the issue.

[2019-05-09 08:18] #395 closed

[2019-05-10 01:04] catarinarpds opened #396 "Mapbox: Failed to obtain last location update"
I created an Android App following this tutorial: https://docs.mapbox.com/android/maps/examples/show-a-users-location/

I did everything exactly as it says in the tutorial.
I can open the map but when the app tries to give my current location I'm getting this error:

`D/Mbgl-LocationComponentCompassEngine: Rotation vector sensor not supported on device, falling back to accelerometer and magnetic f

[2019-05-15 16:22] andrlee commented on #281
closing, since the telemetry toggle has been re-written as part of: https://github.com/mapbox/mapbox-events-android/pull/351. Please re-open if issue persists.

[2019-05-15 16:22] #281 closed

[2019-05-16 02:25] Chaoba commented on #310
This issue is caused by Gson serialize. It should be fixed after this [PR](https://github.com/mapbox/mapbox-navigation-android/pull/1890) is merged, because we removed all sub classes of `JsonSerializer`

[2019-05-16 13:02] TankJK opened #399 "Mapbox crashes with InterruptedException"
App is getting continuous crash with InterruptedException.

FATAL EXCEPTION: OkHttp events.mapbox.com Writer
java.lang.InterruptedException
at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.reportInterruptAfterWait(AbstractQueuedSynchronizer.java:1991)
at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2025)
at java

[2019-05-16 13:59] Guardiola31337 commented on #399
Transferred to `mapbox-events-android`

cc @andrlee

[2019-05-16 15:51] andrlee commented on #310
thanks @Chaoba closing

[2019-05-16 15:51] #310 closed

[2019-05-16 16:29] andrlee commented on #399
@TankJK it does look like internal crash in okhttp3 library and it's unrelated to mapbox. we don't use `ScheduledThreadPoolExecutor` in events library. Can you try to switch to the earlier stable version of `okhttp` and retest?

[2019-05-16 16:42] andrlee commented on #399
@danesfeder this is an `okhttp` internal log, not from `events` as far as i can tell.

[2019-05-16 16:55] andrlee commented on #396
@catarinarpds any updates? also can you copy here your project's `app/build.gradle` file? thanks!

[2019-05-17 06:09] TankJK commented on #399
@andrlee I have tried with okhttp3 with version 3.10.0 but its still crashing.

[2019-05-17 06:14] andrlee commented on #399
Can you share your code here?

[2019-05-17 13:17] TankJK commented on #399
@andrlee Which part of code you are interested?

[2019-05-17 14:43] andrlee commented on #399
@TankJK the part that is likely triggering crash event. You mentioned you do place the marker and showing route. I'd be interested to know if removing "showing route" logic from the app fixes the problem.

[2019-05-17 20:39] catarinarpds commented on #396
Sorry I forgot to answer ! I guess the phone I used to run the app is not updated.

`apply plugin: 'com.android.application'
apply plugin: "androidx.navigation.safeargs"

android {
    compileSdkVersion 28
    defaultConfig {
        applicationId "com.example.android.cobig"
        minSdkVersion 22
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
        testInstrumenta

[2019-05-20 01:39] #375 closed

[2019-05-20 05:53] TankJK commented on #399
@andrlee sometimes application is crashing when just only marker is shown.

[2019-05-20 06:41] Chaoba commented on #399
@TankJK Can you create a simple test project on Github that could reproduce this issue? So we can download and test it.

[2019-05-20 14:59] andrlee commented on #204
closing PR: https://github.com/mapbox/mapbox-events-android/pull/383 merged

[2019-05-20 14:59] #204 closed

[2019-05-23 07:31] Chaoba commented on #374
@tobrun I have tested all location related examples in Android sdk test App on master branch, but can't reproduce this issue. The classes in support-compat have nothing related with location, so maybe it is some thing else cause the issue, like location permission etc.

[2019-05-23 11:10] tobrun commented on #374
If it's not reproducible anymore, let's just close it for now. thank you for taking a look!

[2019-05-23 11:10] #374 closed

[2019-05-23 21:04] JPSiller opened #401 "Too many parameters in Mapbox Android Telemetry NavigationMetaData constructor"
This is not a bug but rather a feature request.

When binding this library to .Net (Xamarin) there is an issue with the NavigationMetaData constructor due to the fact that .Net doesn't allow more than 16 parameters in funcs and action delegates which are used during the binding.

If methods and constructors are kept below 16 parameters this allows this library to be migrated to other technologies

[2019-05-23 21:30] andrlee commented on #401
Hey @JPSiller thanks for the heads up! The class is not longer part of the `Mapbox Android Telemetry ` library but i agree god constructors are generally not scalable and unportable - we will definitely keep that in mind.

[2019-05-23 23:56] andrlee opened #403 "🐞 ANR caused by GzipRequestInterceptor"
**Configuration**
 - SDK Version: 4.4.1
 - Android OS Version: 8.0.0
 - Device model(s): MFDX-EXPLORER
 - App: Customer's app in production

**Steps to Reproduce**
ANR reported from device in production.

**Expected**
Telemetry library does not produce ANRs

**Logging**
`com.mapbox.android.telemetry.GzipRequestInterceptor.intercept(GzipRequestInterceptor.java:36)`
Thread info: `tid:143|name:|ANR-W

[2019-05-24 00:24] alfwatt opened #404 "🐞 The system work!"
**Configuration**
 - SDK Version [e.g. 1.9.x]
 - Android OS Version [ e.g. 8.0.0]
 - Device model(s): [e.g. Google Pixel XL etc]
 - App: [e.g. Mapbox Studio]

**Steps to Reproduce**
How did you get there?

**Expected**
What did you expect?

**Logging**
Please attach logs or error messages

[2019-05-24 00:24] alfwatt commented on #404
Just testing…

[2019-05-24 00:24] #404 closed

[2019-05-24 00:54] andrlee commented on #399
hey @TankJK any updates? thanks!

[2019-05-24 02:19] Chaoba commented on #403
I am confused here. Our sending request is sent in background thread, how could this cause ANR?

[2019-05-24 14:54] andrlee commented on #403
closing as false positive

[2019-05-24 14:54] #403 closed

[2019-05-27 06:08] TankJK commented on #399
@andrlee From last couple of days, surprisingly application is not getting this crash. I am still using same version of okhttp3 and mapbox navigation ui.

[2019-05-28 17:31] andrlee commented on #399
closing as per customer's feedback.

[2019-05-28 17:31] #399 closed

[2019-06-05 03:28] andrlee opened #406 "🐞 Intermittent crashes due to SecurityException"
**Configuration**
 - SDK Version: `4.4.1`
 - Android OS Version: `Android-9`
 - Device model(s): `msm8996`
 - App: app in prod

**Steps to Reproduce**
Crash report from production, most likely due to the device with a buggy firmware.

**Expected**
Application is not crashing and proper error handling is in place.

**Logging**
Please attach logs or error messages

[2019-06-05 04:24] andrlee commented on #406
fixed with https://github.com/mapbox/mapbox-events-android/pull/407

[2019-06-05 04:24] #406 closed

[2019-06-05 15:09] andrlee opened #408 "🚀 Telemetry Release 4.5.0"
**Timeline**
Release is scheduled for 06/05

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.6.0-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `telem-4.5.0-core-1.3.0` in GitHub
- [x] Make GitHub Release

[2019-06-05 16:10] andrlee opened #410 "🔨 Expand instrumentation test matrix in pre-release workflow"
**Enhancement**
Add more test devices and os versions to the device test matrix in the telemetry pre-release workflow (when git tag is committed).

Device | OS
-- | --
LG G3 | 19
Motorola Nexus 6 | 21, 22, 23
Samsung Galaxy J1 | 22
Google Pixel | 25, 26, 27, 28
Samsung Galaxy S9 | 26
Google Pixel 2 XL | 26, 27
Google Pixel 2 | 26, 27, 28
Samsung Galaxy S6 | 23
Samsung Galaxy S3 | 18
Samsung Galaxy

[2019-06-06 00:36] andrlee commented on #408
@langsmith need your help with javadocs 🙏🏽

[2019-06-06 00:36] #408 closed

[2019-06-06 06:02] langsmith commented on #408
Docs added in https://github.com/mapbox/android-docs/pull/970

[2019-06-06 20:34] andrlee opened #414 "🚀 Telemetry Release 4.5.1"
**Timeline**
06/06

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update `CHANGELOG.md`
- [x] Tag `telem-4.5.1-core-1.3.0` in GitHub
- [x] Make GitHub Release
- [x] Publish `4.5.1` artifact to Maven Central

/cc: @mapbox/mobile-tel

[2019-06-06 21:59] andrlee commented on #414
release complete @langsmith

[2019-06-06 21:59] #414 closed

[2019-06-06 22:20] langsmith commented on #414
Docs added in https://github.com/mapbox/android-docs/pull/973

[2019-06-07 02:14] Mordag opened #416 "NPE in GzipRequestInterceptor"
**Configuration**
 - SDK Version mapbox-android-sdk using version 8.0.0
 - Android OS Version 8.0.0
 - Device model(s): Google Pixel XL

**Logging**
[code]

[2019-06-07 04:54] andrlee commented on #416
@Mordag thanks for reporting this issue. can you share with us steps how we can reproduce it? is this only reproducible with `android 8.0`?

[2019-06-07 05:04] andrlee commented on #416
@Mordag based on my brief research this is a known issue with `okhttp`: https://github.com/square/okhttp/issues/4915. We unfortunately can't upgrade to `3.14.2` since it requires Android 5.0 and Java 8. I will request Jesse to cherry pick the fix to `3.12.x` that's the best i can do atm

[2019-06-07 10:58] Mordag commented on #416
@andrlee Thank you for your quick response. I hope okhttp will release a new patch soon.

[2019-06-07 14:11] #416 closed

[2019-06-17 15:34] alfwatt commented on #74
@Guardiola31337 - reviling this, do we still need to make this change or can we close the issue?

[2019-06-17 15:36] alfwatt commented on #312
Open Branch with PR - needs review and merge

[2019-06-17 15:37] alfwatt commented on #312
Open Branch with PR - needs review and merge

[2019-06-17 15:38] alfwatt commented on #356
Do this alongside the dynamic config work

[2019-06-17 15:43] alfwatt commented on #384
@osana On iOS we recently added an error reporting delegate method, would something similar work for android?

[2019-06-17 15:44] alfwatt commented on #384
@osana On iOS we recently added an error reporting delegate method, would something similar work for android?

[2019-06-17 15:44] alfwatt commented on #384
@osana On iOS we recently added an error reporting delegate method, would something similar work for android?

[2019-06-17 15:48] alfwatt commented on #410
@Chaoba reviewing this today, please let us know when you have time to scheduled this work

[2019-06-18 02:10] Chaoba commented on #410
@alfwatt Will address this work in this week.

[2019-06-18 07:14] tobrun commented on #384
@alfwatt a delegate/callback would work for Android

[2019-06-18 14:27] Guardiola31337 commented on #74
Currently there are a couple of `AlarmReceiver` related tests 👀 https://github.com/mapbox/mapbox-events-android/blob/master/libtelemetry/src/androidTestFull/java/com/mapbox/android/telemetry/AlarmReceiverInstrumentationTest.java https://github.com/mapbox/mapbox-events-android/blob/master/libtelemetry/src/testFull/java/com/mapbox/android/telemetry/AlarmReceiverTest.java so I believe you can go ahea

[2019-07-15 14:47] korshaknn opened #418 "🔨 API to change baseUrl for every Environment at runtime"
**Feature**
API to change `baseUrl` for every `Environment` at runtime

**Customers**
vision team

**Impact**
vision team need possibility to change `urls` at runtime depending on current country

[2019-07-15 15:36] alfwatt commented on #418
cc: @andrlee

[2019-07-19 14:14] hollandkyle commented on #374
I am encountering this error when mapbox is initialized in one location, then the device is turned off, then the device is turned and mapbox is initialized in a new location that is far away from the old location.  For example, this happens when I'm developing in Minneapolis, turn off the device and travel to San Francisco, then turn the device back on.  Here is the stack trace:

E/Mbgl-LocationCo

[2019-07-19 14:19] hollandkyle commented on #374
Sorry, wrong line...  ...here is the line

// Activate with a built LocationComponentActivationOptions object
        locationComponent.activateLocationComponent(LocationComponentActivationOptions.builder(mFragment.getContext(), style).build());

        // Enable to make component visible
        --------> locationComponent.setLocationComponentEnabled(true);

        // Set the component's camera

[2019-07-22 04:52] Chaoba commented on #374
@hollandkyle Have you checked the location permission before?

[2019-07-22 15:09] hollandkyle commented on #374
Yes, all location permissions have been checked.  This issue only occurs
when the activity is terminated in one location and then the activity is
recreated in at a different location that is very far away from the first
location.

On Sun, Jul 21, 2019 at 11:52 PM Kevin Li <notifications@github.com> wrote:

[2019-07-23 05:58] william-reed commented on #374
experiencing the same issue after an emulator cold boot

[2019-07-25 04:49] william-reed opened #419 "Last Location Unavailable"
**Configuration**
 - SDK Version: mapbox 7.3.0
 - Android OS Version 25 and 28 tested
 - Device model(s): emulator and galaxy tab e 8

**Steps to Reproduce**
Cold boot my emulator and try and obtain location with. **This only occurs right after a reboot.** I am wondering what this might have to do with https://stackoverflow.com/a/16866830/1572848
[code]

**Expected**
What did you expect?
To receiv

[2019-07-29 07:12] Chaoba commented on #374
@hollandkyle According to [android doc ](https://developer.android.com/reference/android/location/LocationManager.html#getLastKnownLocation(java.lang.String)), `getLastKnowLocation` can return null and your stack trace is printed by [LocationComponent](https://github.com/mapbox/mapbox-gl-native/blob/b6dd995813625a89bba8937c512cdf1175827d66/platform/android/MapboxGLAndroidSDK/src/main/java/com/mapb

[2019-07-29 14:38] hollandkyle commented on #374
@Chaoba upon error, the location service is running and location updates are being handled correctly.  This issue causes a crash in this very specific case, so my present workaround is to catch the error thrown by setLocationComponentEnabled(true) and proceed without location updates until the device somehow locates itself at a later time.  As I describe earlier, there are narrow conditions that c

[2019-07-29 15:50] alfwatt commented on #419
@andrlee not sure how `LocationEngineProvider` is supposed to work in the simulator, is this expected?

[2019-07-30 02:31] Chaoba commented on #374
@hollandkyle Can you confirm it will cause crash? I try to reproduce this issue by closing location service and it will print the following log with crash.
[code]

[2019-07-31 14:54] Guardiola31337 commented on #382
We've also noticed this from the Navigation SDK.

As described in OP the `TelemetryClient` is now initialized lazily but clients can call `updateDebugLoggingEnabled` e.g. https://github.com/mapbox/mapbox-navigation-android/blob/ba2c4f1b4bae1443cd97a3edffb3338cc40959dd/libandroid-navigation/src/main/java/com/mapbox/services/android/navigation/v5/navigation/NavigationTelemetry.java#L128 before that

[2019-07-31 15:09] andrlee commented on #382
@Guardiola31337 this is design intent ^. We should fix debug logging api, it should not change state of the client.

[2019-07-31 15:28] Guardiola31337 commented on #382
@andrlee

In order to enable logging we need the state beforehand, it makes sense to not allowing changing it but we need to persist it somehow until the telemetry client is created so we can pass it through it or change completely how we're logging currently. Wondering how we'd support the use case in which a client would like to switch on and off logging 🤔 I mean with the current setup i.e. with

[2019-08-07 09:32] korshaknn commented on #418
implemented in [PR 420](https://github.com/mapbox/mapbox-events-android/pull/420)

[2019-08-07 09:32] #418 closed

[2019-08-08 15:05] andrlee opened #421 "🚀 Telemetry Release 4.6.0"
**Timeline**
Release needs to go out asap to unblock vision telemetry in China.

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.0-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `telem-4.7.0-core-1.3.0`

[2019-08-08 15:20] andrlee commented on #419
@alfwatt we're pretty much adhering to google apis behavior with the only diff: if last location isn't available in google they return `null` and we throw an exception. Perhaps we need to document api signature to set expectation.

[2019-08-08 15:31] andrlee commented on #421
cc/ @angelanavarro

[2019-08-09 16:53] andrlee commented on #421
@langsmith can you help with docs? thanks!

[2019-08-09 16:57] #421 closed

[2019-08-09 22:24] langsmith commented on #421
https://github.com/mapbox/android-docs/pull/1033

[2019-08-15 07:32] korshaknn opened #424 "🐞 Order of operations bug when setting base URL before"
**Configuration**
 - SDK Version 0.6.0
 - App: [e.g. Mapbox Vision]

**Steps to Reproduce**
1. Create `MapboxTelemetry` object
2. Call setBaseUrl() method.
3. Get NPE.

When you create `MapboxTelemetry` it has non-initialized `TelemetryClient` inside.
To init it you need to send any event, because when you try to send event there are checks to init the client if need.

PR with fix: [423](https://g

[2019-08-30 18:10] harvsu opened #425 "🐞 Test App in Debug Mode: Network (OkHttp) request seems to fail in strict mode. This happens only in Android O) (26 and 27). Works well in Pre 26 versions."
Test App in Debug Mode:
OKhttp request seems to fail in strict mode. This happens only in Android O) (26 and 27). Works well in Pre 26 versions.
**Configuration**
 - Android OS Version: 9
 - Device model(s): Google Pixel, Nexus e.t.c. Dependent on Android Version than device.
 - App: Events Test App

**Steps to Reproduce**
1. Install Test app in android-events  repository from Android studio.
2. S

[2019-09-17 23:09] langsmith opened #427 "Add test app example of listening to device network connectivity changes"
I'm trying to figure out how to listen to device connectivity changes. Could be good to have a minimal example in this repo's test app that shows how to do this. What I'm envisioning is some sort of TextView change, Snackbar, Toast, etc. that declares a change in connectivity. E.g. a toast says `disconnected` when the device was connected to the internet and _then_ put into airplane mode.

[2019-09-17 23:12] alfwatt commented on #427
Clarified that this is for network changes, we have something similar in iOS provided by the reachability API. e.g.: https://beebom.com/how-get-iphone-reachability-andriod/

[2019-09-18 00:10] langsmith commented on #427
Thanks @alfwatt .

Related is the (lack of docs) at https://docs.mapbox.com/android/core/overview/#connectivitylistener. I'm happy to advise/do the building out of more docs, when a test app example is present.  👍

[2019-09-18 00:29] andrlee commented on #427
@langsmith https://docs.mapbox.com/android/core/overview/#connectivitylistener should be deprecated. Framework does provide mechanism to monitor network state: https://developer.android.com/reference/android/net/ConnectivityManager. Mind closing it?

[2019-09-18 00:56] langsmith opened #428 "Adjust Android ConnectivityReceiver docs"
Per https://github.com/mapbox/mapbox-events-android/issues/427#issuecomment-532466237, @andrlee feels that the docs at https://docs.mapbox.com/android/core/overview/#connectivityreceiver should be adjusted/removed. Ticketing the suggestion here so that it can be tracked.

Android folks on @mapbox/mobile-telemetry can follow up with actual content changes. I'm happy to teach them how to navigate an

[2019-09-18 00:58] langsmith commented on #427
Ok, closing as I misunderstood that `/mapbox-events-android` would provide some sort of callback about network change. Apparently this doesn't working reliably across multiple OS versions and the behavior is inconsistent. Because it does not, it's out of the scope of this repo's test app.

The following method is used in several Mapbox SDKs/apps. It seems that it could be used with a background se

[2019-09-18 00:58] #427 closed

[2019-09-18 01:02] harvsu commented on #428
@langsmith  Thanks for offering to help. Removing it from the docs would be a better idea than editing because it is more of a boiler plate and does not offer much value.

[2019-09-30 17:40] #424 closed

[2019-10-10 13:36] ben-j69 opened #429 "Crash in location engine callback"
Hello we are currently encountering an issue with the google location engine implemented in the SDK on Circle CI. I did not find anyway to customize the callback !

### Steps to reproduce

 1. activateLocationComponent on CircleCI

### Expected behavior

Should display the user position

### Actual behavior

Crash the app :
`java.lang.IllegalArgumentException: latitude must be between -90 and 90
a

[2019-10-22 21:11] alfwatt commented on #429
Thanks @LukasPaczos, I'll ask @harvsu  to have a look

[2019-10-22 21:12] alfwatt commented on #429
Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:13] alfwatt commented on #419
Assigned: Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:17] alfwatt commented on #396
@nkukday please review alongside #419

Valid: Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:20] alfwatt commented on #384
We have a related issue on iOS for adding a logging delegate, we should coordinate on what logging messages are appropriate to provide to consumers.

Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:22] alfwatt commented on #312
Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:24] alfwatt commented on #382
Prefs related (saved state not being persisted locally but saved in memory only)

Look at as part of Android config work.

Valid: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:26] alfwatt commented on #356
Valid: https://github.com/mapbox/mobile-telemetry/issues/458

Need decision on PR

[2019-10-22 21:27] alfwatt commented on #74
Closing: https://github.com/mapbox/mobile-telemetry/issues/458

[2019-10-22 21:27] #74 closed

[2019-11-22 22:12] harvsu opened #439 "🚀 Release Core/1.4.0 Telemetry/4.7.0"
**Timeline**
Week of Nov 18th

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.0-SNAPSHOT`/`1.4.0-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `4.7.0`/ `1.4.0` in GitHub
- [x] Make GitHub Release
- [x]

[2019-11-26 00:05] langsmith commented on #439
Done here 🎆 🎉

[2019-11-26 00:05] #439 closed

[2019-11-27 01:13] harvsu commented on #429
@alfwatt @LukasPaczos  GoogleLocationEngineImpl in Events repo (Telemtry SDK) does not alter any location information delivered by GMS (google play service )'s Location Engine and is sent as is to downstream SDK. Primary investigation into this issue confirms that the invalid latitude is coming from somewhere upstream, either the GMS or emulator itself.

[2019-11-27 01:34] harvsu commented on #429
@ben-j69 Sorry for the delay! It seems to be some unknown issue with the emulator that you are using. We have not seen this occur in any of our tests. We need more information to get to the bottom of this. If you can get back to us with the following details, we will be able to debug this issue better.
1. The emulator configuration in which you are running into this issue.
2. Steps to reproduce th

[2019-11-30 15:44] iamalminko opened #442 "Mapbox: Failed to obtain last location update"
locationComponent is a null object reference and I can't get current lat/lng.

Root issue might be the error (which doesnt break the app):
Failed to obtain last location update.
Java.lang.exception: Last location unavailable.

This error is caught on Huawei P20 Lite with Android version 9. However, on my phones, Samsung A5 2017 and Samsung A8 2018 I had no such error and the location component wor

[2019-11-30 15:49] alminkokasibovic commented on #442
E/Mbgl-LocationComponent: Failed to obtain last location update
    java.lang.Exception: Last location unavailable
        at com.mapbox.android.core.location.MapboxFusedLocationEngineImpl.getLastLocation(MapboxFusedLocationEngineImpl.java:40)
        at com.mapbox.android.core.location.LocationEngineProxy.getLastLocation(LocationEngineProxy.java:25)
        at com.mapbox.mapboxsdk.location.Locati

[2019-11-30 15:55] alminkokasibovic commented on #442
Key point in code:

The app breaks at the last line:

``private Location current_device_location;
``LocationComponent locationComponent;
``locationComponent = mapboxMap.getLocationComponent();
``current_device_location = locationComponent.getLastKnownLocation();
``latlng_current_location.setLatitude(current_device_location.getLatitude());

However, when I enable location component I get the error

[2019-12-06 02:15] harvsu commented on #384
@tobrun @osana There is already a public method to add the TelemetryListener in MapboxTelemetry which sends the response through callback methods **onFailure(Call call, IOException e)** and **onResponse(Call call, Response response)**
https://github.com/mapbox/mapbox-events-android/blob/22367f5acbbd27183b7c539a5dd8ba96cb59d159/libtelemetry/src/full/java/com/mapbox/android/telemetry/MapboxTelemetry

[2019-12-09 09:12] alminkokasibovic commented on #442
build.gradle:

`/* Mapbox SDK */
    implementation 'com.mapbox.mapboxsdk:mapbox-android-sdk:8.5.0'
    implementation 'com.mapbox.mapboxsdk:mapbox-sdk-services:4.9.0'`

[2019-12-16 23:56] harvsu commented on #425
https://github.com/mapbox/mapbox-events-android/pull/443 fixes this.

[2019-12-16 23:56] #425 closed

[2020-01-07 13:46] tobrun opened #446 "Upgrade to AndroidX"
We are still relying on support libraries:
https://github.com/mapbox/mapbox-events-android/blob/master/gradle/dependencies.gradle

To completely remove support libraries from maps sdk, we need to update this to AndroidX equivalents.

[2020-01-08 16:41] zugaldia commented on #446
@tobrun will we be using this updated Telem SDK with AndroidX on Hydrogen, Carbon, or both?

[2020-01-08 16:49] tobrun commented on #446
both, this is a requirement for a enterprise customer switching from building from source to consuming our published binaries. In normal cases, a user could leverage jetifier to replace the support libraries coming from this library but this specific customer isn't using gradle and thus unable to use jetifier.

[2020-01-08 21:01] harvsu opened #448 "🚀 Release Core/1.4.1 Telemetry/4.7.1"
**Timeline**
Week of Jan 6th

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.2-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag 1.4.1/4.7.1 in GitHub
- [x] Make GitHub Release
- [x] Publish 1.4.1/4.7.1 ar

[2020-01-09 18:01] nkukday commented on #410
Reverting #417 due to issues which need more investigation, use [kl-add-test-device](https://github.com/mapbox/mapbox-events-android/tree/kl-add-test-device) to resume this work

[2020-01-09 20:27] nkukday commented on #446
#450

[2020-01-09 20:27] #446 closed

[2020-01-10 23:15] #448 closed

[2020-01-14 09:16] iamalminko commented on #442
The problem was that the gps location was disabled in android settings and that's why it was returning null pointer. It was just a coincidence that on Samsung it was enabled, and on Huawei it was disabled.

[2020-01-14 09:16] #442 closed

[2020-02-11 17:55] nkukday commented on #419
[Docs](https://docs.mapbox.com/android/core/overview/#requesting-location-updates)
Consider using `requestLocationUpdates` instead of `getLastLocation`. Hope this helps!

[2020-02-11 17:59] nkukday commented on #396
From #419

[Docs](https://docs.mapbox.com/android/core/overview/#requesting-location-updates)

[2020-02-19 19:45] harvsu opened #454 "🚀 Telemetry Release 4.7.2"
**Timeline**
Week of Feb 17th

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.3-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `4.7.2` in GitHub
- [x] Make GitHub Release
- [x] Publish `4.7.2` artifact

[2020-02-20 17:14] yunikkk opened #456 "Obfuscation problem with AppUserTurnstile event"
**Configuration**
 - SDK Version - 4.7.0

**Steps to Reproduce**
We've been facing an [issue](https://app.zenhub.com/workspaces/vision-sdk-5ca52e6c027e3e7234ac7512/issues/mapbox/mapbox-vision/2039) with MAU calculation from Chinese customer (Sogou) for some time.
Turned out, telemetry library does not expose proguard config to keep [AppUserTurnstile](https://github.com/mapbox/mapbox-events-android

[2020-02-20 18:31] alfwatt commented on #456
Looks like we need:
- [ ] update to the proguard config to stop our symbols from getting mangled
- [ ] integration test which runs the code through any popular obfuscators our customers are using
- [ ] update to the documentation to make a note about obfuscation issues

[2020-02-21 11:36] yunikkk commented on #456
@mapbox/maps-android could anyone please check that Maps actually keeps telemetry classes from obfuscation at the moment with current telem releases?

[2020-02-21 13:15] tobrun commented on #456
I don't think that is the case. @Chaoba can you run point on fixing this for `mapbox-gl-native-android`?

[2020-02-21 19:12] harvsu commented on #454
Thanks!! @langsmith

[2020-02-21 19:12] langsmith commented on #454
I just merged https://github.com/mapbox/android-docs/pull/1227. Done here!

![giphy-12](https://user-images.githubusercontent.com/4394910/75064045-093edc00-549b-11ea-9c2a-b8475640433f.gif)

[2020-02-21 19:12] #454 closed

[2020-02-24 19:19] alfwatt commented on #456
@mapbox/maps-android can ya'll make a copy of this issue for the parallel work in Maps?

We should also invite @mapbox/navigation to the party to make sure we have integration tests for all the SDKs that cover these obfuscation issues.

[2020-02-25 00:06] #396 closed

[2020-02-25 00:06] #419 closed

[2020-02-26 13:01] kmadsen opened #458 "🐞 Random crash when app was in the background"
**Configuration**
 - SDK Version
 implementation ("com.mapbox.navigation:core:1.0.0-20200226.084214-62") {
 implementation ('com.mapbox.mapboxsdk:mapbox-android-navigation:0.43.0-20200224.110749")
 - Android OS Version 10
 - Device model(s): Google Pixel 4 XL
 - App: Mapbox Test App

**Steps to Reproduce**
Hard to reproduce and doesn't always happen

**Expected**
What did you expect?

**Logging**

[2020-02-26 14:19] Guardiola31337 commented on #458
It seems unrelated to https://github.com/mapbox/mapbox-events-android/pull/453 but [Mapbox-Android-Telemetry 4.7.2](https://github.com/mapbox/mapbox-events-android/releases/tag/telem-4.7.2-core-1.4.1) was recently released. We should check if we're able to reproduce OP with that version @kmadsen

[2020-02-26 19:32] harvsu opened #459 "🚀 Telemetry Release 4.7.3"
**Timeline**
Week of Feb 24th

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.4-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `4.7.3` in GitHub
- [x] Make GitHub Release
- [x] Publish `4.7.3` artifact

[2020-02-27 00:40] langsmith commented on #459
Done here!

[2020-02-27 00:40] #459 closed

[2020-03-02 22:08] zugaldia commented on #456
This was addressed by https://github.com/mapbox/mapbox-gl-native-android/issues/194 (thanks @Chaoba!)

[2020-03-03 07:56] tobrun commented on #456
Small update for map side of things. We have a 9.1.0-alpha.1 version out with latest events library + proguard config on our end. We won't be backporting events library to older version but will include a proguard config to make sure we aren't obfuscating telemetry. We are planning a 9.0.1 and 8.7.3 with these changes.

[2020-03-18 00:55] harvsu opened #466 "🚀 [Core/Telemetry] Release 4.7.4/1.4.2"
**Timeline**
Week of Mar 16

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `4.7.5-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `Telem 4.7.5/ Core 1.4.2` in GitHub
- [x] Make GitHub Release
- [x] Publish `

[2020-03-20 19:46] #466 closed

[2020-03-24 23:57] harvsu opened #471 "🚀 [Core/Telemetry] Release Telem 5.0.0/Core 2.0.0"
**Timeline**
Week of March 23rd

**Pre-release Testing**
- [x] Manual downstream test app test with snapshot
- [x] Manual offline test with telemetry test app
- [x] Check for memory leaks
- [x] Run manual battery tests

**Release Checklist**
- [x] Update snapshot version `5.0.1-SNAPSHOT/2.0.1-SNAPSHOT`
- [x] Update `CHANGELOG.md`
- [x] Tag `Telem 5.0.0/Core 2.0.0` in GitHub
- [x] Make GitHub Relea

[2020-03-25 18:07] langsmith commented on #471
Done!

![giphy](https://user-images.githubusercontent.com/4394910/77570267-b8027d80-6e88-11ea-9353-4e486d48c941.gif)

[2020-03-25 18:07] #471 closed

[2020-03-30 19:35] alfwatt commented on #456
@yunikkk please verify that these changes are working for you in the latest version of the Telemetry SDK and close the ticket if you believe we've addressed the issue completely

[2020-03-31 10:20] yunikkk commented on #456
@alfwatt we've shipped new build with the updated telemetry inside and can confirm fix is working! Closing the issue

[2020-03-31 10:20] #456 closed

[2020-04-02 00:12] Guardiola31337 commented on #456
👀 https://github.com/mapbox/mapbox-gl-native-android/pull/306 cc @zugaldia

[2020-05-02 12:14] Cloud9Clone commented on #312
Do we require a billing account in order to use the Google's FusedLocationProvider?

[2020-05-04 17:49] nkukday commented on #312
@Cloud9Clone `FusedLocationProvider` is integrated in `Google Play Services` and can be used with the play service dependency so long as play services are available on the device.

[2020-05-05 16:17] Cloud9Clone commented on #442
A little question: When we use LocationComponent.setComponentEnabled(true) we create a Task for the current location, or we requestLocationUpdates and removeLocationUpdates?

[2020-05-19 20:00] alfwatt commented on #384
@harvsu sounds like this might be invalid

[2020-06-05 19:13] nkukday commented on #458
https://github.com/mapbox/mapbox-gl-native-android/issues/126

[2020-06-05 21:50] kmadsen opened #481 "Telemetry events are dropped when network is disconnected"
**Configuration**
 - SDK Version All
 - Android OS Version All
 - Device model(s): All
 - App: All

**Steps to Reproduce**
1. launch app with telemetry
2. put device in airplane mode
3. events are dropped

**Expected**
Don't drop network is disconnected

**Logging**
Looks like the queue is flushed here, which removes all the events
https://github.com/mapbox/mapbox-events-android/blob/19ca456b1353b

[2020-06-09 18:17] harvsu commented on #458
Closing as duplicate of https://github.com/mapbox/mapbox-gl-native-android/issues/126 .

[2020-06-09 18:17] #458 closed

[2020-06-11 09:32] Bakeneko opened #482 "TelephonyManager.getNetworkType() requires READ_PHONE_STATE permission for API level 30"
[TelephonyManager.getNetworkType()](https://developer.android.com/reference/android/telephony/TelephonyManager#getNetworkType()) is deprecated and requires dangerous READ_PHONE_STATE permission for API level 30.

**Configuration**
 Android OS Version 11

**Steps to Reproduce**
1. Target API level 30
2. Build and launch app
3. Load a MapView

**Expected**
Display a MapView

**Actual behavior**
Cras

[2020-06-18 08:58] LukasPaczos opened #487 "Reflection used to obtain the Google Fused engine failed when proguard is enabled"
**Configuration**
 - SDK Version [telemetry 5.0.1]
 - Android OS Version [10]
 - Device model(s): [Google Pixel 2 XL]
 - App: [Any]

**Steps to Reproduce**
1. Add Google Play Location Services to the classpath
2. Use `LocationEngineProvider` to obtain the `LocationEngine`

**Expected**
`GoogleLocationEngineImpl` is returned

**Actual**
`MapboxFusedLocationEngineImpl` is returned

**Reason**
The `L

[2020-06-18 14:22] zugaldia commented on #487
@alfwatt I'd consider this issue of the highest priority for Navigation SDK to be addressed. While there's a workaround we could recommend to developers (manually adding a Proguard entry to whitelist GMS `-keep class com.google.android.gms.** {*;}`), without it, the navigation experience can be seriously degraded in a way that's unexpected to the developer.

[2020-06-18 19:32] #487 closed

[2020-07-02 16:51] evabishchevich opened #490 "Add a request for ACCESS_BACKGROUND_LOCATION to PermissionsManager"
**Feature**
Android 10 introduced [a `background location` access](https://developer.android.com/training/location/permissions#background). It would be nice to support this feature in the SDK.

[2020-07-02 16:54] Guardiola31337 commented on #490
https://github.com/mapbox/mapbox-events-android/blob/9ffd11611c85c5cda1f42c2506a01080b79a4b8c/liblocation/src/main/java/com/mapbox/android/core/permissions/PermissionsManager.java#L59-L85 is not asking for `ACCESS_BACKGROUND_LOCATION`

[2020-07-11 15:30] SamStenner commented on #482
This is a pretty serious bug, and will produce privacy concerns from users if not fixed. Any app that accesses location already requires the trust of the user, and requesting access to extraneous permissions will hurt that trust.

[2020-07-17 08:01] zenyagami opened #491 "Make LocationEngineImpl public"
Hello I would like to suggest make `LocationEngineImpl` in order to implement our own location listener.
Usually this is not needed but in Huawei devices there is a "fused location" in HMS (where google play is not available) so we can take advantage of this, sadly I can't implement my own logic to pass it to the navigation, because `LocationEngineImpl` it's private, the other option would be add

[2020-08-05 21:48] fards commented on #482
Just to clarify:
This isn't just an issue with compiling the sdk ( I had a colleague suggest it might be).
 Every app that uses mapbox, errors out on Android 11 with the same logs.
This is Strava for example, rwgps, even meteo weatherpro does the same.
As we're rapidly heading towards a release of A11, this needs fixing fairly quickly and out beta testing. Otherwise there will be a lot of mapbox c

[2020-08-05 22:43] LocusLabsGit commented on #482
@fards I can confirm the error happens at runtime not at compile time.

[2020-08-14 13:50] nagineni commented on #482
Fixed in release version 6.1.0 - https://github.com/mapbox/mapbox-events-android/releases/tag/telem-6.1.0-core-3.0.0

[2020-08-14 13:50] #482 closed

[2020-08-14 13:52] nagineni commented on #482
Maps SDK integration PR here - https://github.com/mapbox/mapbox-gl-native-android/pull/527

[2020-09-12 19:09] dionis-takac opened #497 "🐞 Bug Summary"
**Configuration**
 - SDK Version 9.3.0
 - Android OS Version 8.0.0
 - Device model(s): Samsung
 - App: Mapbox

When I try to enable GPS on my device using enableLocationComponent() from your official code sample, I am getting error that last location is null and GPS is not enabled on my device.

Here is the code:
[code]
I read some issues opened for this, but I haven't found solution. Could you he

[2020-09-14 13:16] another-dave commented on #482
Running against Android 10, we're using `com.mapbox.mapboxsdk:mapbox-android-sdk:9.4.0` which I think includes the correct version of Telemetry for the fix above, but we're still seeing a logged error for this:

[code]

[2020-09-30 17:06] nagineni commented on #490
Fixed in https://github.com/mapbox/mapbox-events-android/pull/498

[2020-09-30 17:06] #490 closed

[2020-10-05 13:43] nagineni commented on #482
@another-dave :wave:

We see that error in the logs if the READ_PHONE_STATE permission is handled at runtime or the permission is not granted by the user.

[2020-10-05 13:49] another-dave commented on #482
Hi @nagineni, thanks for getting back. So I think this error can be safely ignored, but just want to double-check? or is `READ_PHONE_STATE` a required permission?

[2020-10-05 17:16] nagineni commented on #482
The error message in the logs can be ignored since it is thrown only when there is no READ_PHONE_STATE permission granted. READ_PHONE_STATE permission is required to get the data network type using new API i.e getDataNetworkType(). In case if the user has not provided READ_PHONE_STATE and handled permissions at runtime, the value of the data network will be [network type unknown](https://developer

[2020-10-12 23:02] harvsu opened #502 "🐞 Optimize Event not recorded in Mixpanel"
**Configuration**
 - App Version 3.1.0
 - Android OS Version 10
 - Device model(s): SM-N960U
 - App: Straightaway

User reported that they optimized often in the application but the corresponding events are not seen in Mixpanel.
https://app.intercom.com/a/apps/yi20bu7r/inbox/inbox/3754110/conversations/148769000023568

**Logging**
https://app.intercom.com/a/apps/yi20bu7r/inbox/inbox/3754110/conver

[2020-11-19 14:37] LukasPaczos opened #506 "Add equals support for LocationEngineRequets"
It'd be great if `LocationEngineRequest` overrode `equals`/`hashCode`, especially to improve the unit testing experience.

[2020-11-19 23:42] kmadsen commented on #506
We will want to do this before moving it to the NavigationOptions https://github.com/mapbox/mapbox-navigation-android/pull/3804

[2020-11-20 12:41] LukasPaczos commented on #506
@mapbox/core-sdk would there be a chance for a patch release including the above changes, just as a precaution? I wouldn't necessarily expect anyone to compare the `NavigationOptions` classes in the production code, but we cannot truly rule it out.

/cc @zugaldia @Guardiola31337

[2020-11-20 16:37] #506 closed

[2021-01-11 10:38] friendoye commented on #382
Our team recently encountered same issue and we'd love to have ability to enable/disable logging explicitly during `MapboxTelemetry` initialization. There are several ways how to do it, so if we could discuss the optimal solution, then, I believe, it will be easier to create PR with requested behavior.

[2021-01-21 22:36] alfwatt opened #511 "🐞 Update config endpoint to use `config.mapbox.com|cn`"
**Configuration**
 - SDK Version 6.2.2
 - Android OS Version: Any

URLs should be updated to use new configuration service: `config.mapbox.com`.

[2021-02-23 10:01] tarigo opened #515 "🐞 Events queue timer does not work for background location updates."

[2021-05-19 16:09] tarigo opened #529 "🔨 [build] Build flavours for old and new versions of OkHttp."
[code]
**Feature**
What would you like to add?

**Customers**
Who will make use of the feature?

**Impact**
How will this feature impact end users of the library?

[2021-05-21 15:56] friendoye opened #530 "🐞 Crash in background for Android 11"
**Context**
The issue is reported in https://github.com/mapbox/mapbox-search-android-examples/issues/25 and, according to crash logs, there might be something with `mapbox-android-telemetry`.

**Configuration**
 - SDK Version: v7.0.0
 - Android OS Version: Android 11
 - App: External app with Search SDK integration

**Steps to Reproduce**
There are no defined steps, but according to the customer:

[2021-05-21 16:24] friendoye commented on #530
Btw, it looks as if pretty similar issue was reported and fixed before: https://github.com/mapbox/mapbox-events-android/issues/207

No gonna say it is identical problem, but might be worth checking.

[2021-05-24 12:09] #530 closed

[2021-05-24 12:32] tobrun opened #532 "🐞 Android 12: PendingIntent mutability"
When targeting Android 12 as target SDK and including `mapbox-events-android`. We are hitting an IllegalArgumentException, this is because pending intents are now required to be tagged as mutable/immutable. For more information see [pending-intent-immutability](https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability).

Pending intents are used in the AlarmSche

[2021-05-24 12:46] DzmitryFomchyn opened #533 "🐞 Maximum limit of concurrent alarms 500 reached"
Crash reported in the Search SDK repo https://github.com/mapbox/mapbox-search-android-examples/issues/27

**Configuration**
 - SDK Version `7.0.0`
 - Android OS Version Android 11 (capturing from the shared [screenshot](https://github.com/mapbox/mapbox-search-android-examples/issues/27#issue-898331151))
 - Device model(s): nubia (capturing from the shared [screenshot](https://github.com/mapbox/map

[2021-05-27 06:27] #532 closed

[2021-05-27 11:26] tarigo opened #536 "[telemetry] Provide accuracy authorization in location events."

[2021-05-27 11:42] Chaoba opened #537 "android.os.strictmode.DiskReadViolation in Strict mode"
**Configuration**
 - SDK Version [e.g. 1.9.x] 7.0.3
 - Android OS Version [ e.g. 8.0.0] 10.0
 - Device model(s): [e.g. Google Pixel XL etc] OPPO PBEM00
 - App: [e.g. Mapbox Studio] Maps test app

**Steps to Reproduce**
How did you get there?
Enable the strict mode in the [test app ](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/MapboxApplication.

[2021-06-03 07:46] tarigo commented on #536
Closed via #539.

[2021-06-03 07:46] #536 closed

[2021-06-04 10:03] #537 closed

[2021-06-08 09:27] tarigo commented on #529
Closed via #542.

[2021-06-08 09:27] #529 closed

[2021-07-28 07:32] another-dave commented on #429
Hello,

just wanted to say that we're hitting this 'in the field' with real users. Please let me know if it's better to log a separate issue (as know the OP mentioned emulators), but the error we're hitting is the same.

Trying to debug, I've added logging for lat/lng/alt values to our crash reporter and are seeing values like this:

[code]

i.e. when we hit this issue it seems like a valid Longit

[2021-08-02 09:21] rahafaboulib opened #550 "Missing Class"
Hello!
I am trying to use mapbox to view maps, and I have ran into this issue when I add the following code to the activity main file:

[code]

The error that I get is : Class referenced in the layout file ,'com.mapbox.mapboxsdk.maps.MapView', was not found in the project or the libraries.

Can someone please guide me with this

[2021-08-02 09:27] #550 closed

[2021-09-01 14:26] VincentJoshuaET opened #551 "PermissionsManager not working on Android 12"
[code]

The PermissionsManager method will not add both permissions required.

[2021-11-05 12:25] axti opened #554 "🐞 Bug Summary"
**Configuration**
 - SDK Version core 5.0.0
 - Android OS Version 11
 - Device model(s): Samsung 8
 - App: Maps SDK v10

**Steps to Reproduce**
Just use Maps SDK v10 without _play-service-location_ dependencies in the project.

**Expected**
Proper error message will help developers to understand and solve issue fast and efficiently.
Please catch the error and print error message such as _"Please a

[2021-11-23 19:39] RicardoAguilarS commented on #442
is there a way to catch/prevent this error when turning off the location setting?

[2022-01-13 17:46] akirmse opened #557 "Android SDK triggers privacy warnings due to Permissions.GET_TASKS"
Using com.mapbox.maps:android:10.1.0, I get the following "Security and Trust" warning in Google's Play Console when trying to release my app:

Anomalous Permission Usage
Warning
brightness_1
Privacy
Your app is requesting permissions which are used by less than 1% of functionally similar apps:

android.permission.GET_TASKS

---

In addition, I had to disclose the collection of installed apps in t

[2022-01-17 16:49] kiryldz commented on #557
additional findings from @pengdev

Looking at the [implementation](https://github.com/mapbox/mapbox-events-android/blob/442bd99b425b7ad0fff2017a0242283d8a13017a/libtelemetry/src/main/java/com/mapbox/android/telemetry/TelemetryUtils.java#L123), the GET_TASKS is only used to get the telemetry of whether the current app is in the foreground or background. However GET_TASKS permission indeed also allo

[2022-01-17 16:51] felix-ht opened #558 "🐞 Maven has no version 5.0.* of mapbox-android-core"
Maven has no version 5.0.* of mapbox-android-core - https://mvnrepository.com/artifact/com.mapbox.mapboxsdk/mapbox-android-core

This is causing issues with Jcenter being sunsetted.

[2022-01-17 16:58] akirmse commented on #557
The Android documentation suggests that this is not a good idea:

https://developer.android.com/reference/android/app/ActivityManager#getRunningAppProcesses()

public List<ActivityManager.RunningAppProcessInfo> getRunningAppProcesses ()
Returns a list of application processes that are running on the device.

Note: this method is only intended for debugging or building a user-facing process managem

[2022-01-21 06:46] #557 closed

[2022-01-21 13:46] another-dave commented on #429
Seeing this still. Also with different device — Samsung Galaxy A90 5G (SM-A908N) but interestingly still running Android Nougat (this time 7.1.2).

I'm not sure what type of info you're tracking via the Telemetry of the SDK. If I could give you more info above the device/event that could help you track it down, please let me know.

Unfortunately I can't reproduce this on a test device, but still h

[2022-01-23 03:20] ystsoi opened #560 "🐞 MapboxFusedLocationEngineImpl may always report NETWORK_PROVIDER locations if the device clock is significantly faster than the satellite clock"
[Utils.isBetterLocation](https://github.com/mapbox/mapbox-events-android/blob/329c10b0dff42655a8033d8d19a96e6db3099d54/liblocation/src/main/java/com/mapbox/android/core/location/Utils.java#L52) uses [Location.getTime](https://developer.android.com/reference/android/location/Location#getTime()) to compare location time. If the device clock (used by the NETWORK_PROVIDER) is significantly faster than

[2022-02-18 14:03] pengdev opened #561 "🐞 ANR while running LocationComponentActivity"
**Configuration**
 - SDK Version [Android Maps SDK v10.3.0]
 - Android OS Version [ 11]
 - Device model(s): [OnePlus 7 Pro]
 - App: [Android Maps SDK test app]

**Steps to Reproduce**
When testing [LocationComponentActivity](https://github.com/mapbox/mapbox-maps-android/blob/main/app/src/main/java/com/mapbox/maps/testapp/examples/LocationComponentActivity.kt) , I experienced the following ANR.

**

[2022-02-21 21:59] yunikkk opened #562 "🐞 Bug Summary"
**Configuration**
 - SDK Version mapbox-android-core 5.0.0

**Steps to Reproduce**
Discovered the issue while debugging maps-android [leak](https://github.com/mapbox/mapbox-maps-android/pull/1093).

LocationCallback passed to [GoogleLocationEngineImpl.requestLocationUpdates](https://github.com/mapbox/mapbox-events-android/blob/main/liblocation/src/main/java/com/mapbox/android/core/location/Locatio

[2022-03-09 10:19] mchiu-snap commented on #557
Thanks for fixing this! Will it be published soon in a new release? Unfortunately GET_TASKS permission was added in the same version as the pending intent immutability fix for Android 12 (see https://github.com/mapbox/mapbox-events-android/pull/535).

[2022-03-23 20:38] lognaturel opened #563 "❔ Can recent releases be pushed to Maven Central?"
Thanks to all who have worked on these libraries. I'm involved in [ODK](https://getodk.org/) and we produce open source tools for mobile data collection. Our [Android mobile client](https://github.com/getodk/collect) uses Mapbox maps for capturing locations.

My understanding is that this repo is now deprecated because Mapbox has shifted to a monorepo at https://github.com/mapbox/mapbox-maps-andro

[2022-03-24 10:50] tarigo commented on #563
Hi @lognaturel,

https://github.com/mapbox/mapbox-maps-android is a repo for the [actual version v10](https://docs.mapbox.com/android/maps/guides/) of Maps SDK,  https://github.com/mapbox/mapbox-gl-native-android is for the old [legacy, yet maintained, version v9](https://docs.mapbox.com/android/legacy/maps/guides/).

Mapbox provides SDKs via Maven (https://api.mapbox.com/downloads/v2/releases/mav

[2022-03-24 13:32] lognaturel commented on #563
Thanks for the quick response, @tarigo! I didnt realize 9.x would still be maintained but use the Mapbox distribution. Would you consider publishing the telemetry 7.x point releases to Maven Central as well?

We’re an open source project for which mapping is a small component. It doesn’t make sense for everyone wanting to build the source to have to manage Mapbox credentials. We’re not sure what w

[2022-04-01 14:01] lognaturel commented on #563
Thanks! We’ll keep the dependencies local for now.

Absolutely. But not including those credentials means a small part of the app fails at run time. That’s pretty different from the app not building.

I appreciate all the alternate suggestions. I understand these don’t seem like a big deal but they involve overhead that’s significant to us. As it sounds like you’ve found working with sonatype does

[2022-04-01 14:01] #563 closed

[2022-04-05 16:14] LukasPaczos opened #564 "Migrate to LocationManagerCompat + LocationRequestCompat"
Capturing from [this bug report](https://issuetracker.google.com/issues/215186921), there's a bug in Android 12 where `FUSED` location provider is returned instead of `GPS` one when trying to get `LocationManager`'s best available location provider which leads to a significant degradation in location updates quality. This situation takes place in the `LocationEngineProvider` when the app does not

[2022-04-15 08:29] VysotskiVadim commented on #564
Is there any suggested workarounds for those who experience issue with getting location on Android 12 without GP? https://github.com/mapbox/mapbox-navigation-android-examples/issues/80

[2022-05-04 07:48] tarigo commented on #564
I think we can bump `LocationCompat` in MME if the [issue with lStar is solved](https://issuetracker.google.com/issues/199180389?pli=1) (latest androidx core require compileSdk 31).

[2022-07-12 01:02] VincentJoshuaET commented on #551
@pengdev Still not fixed. We need both FINE_LOCATION_PERMISSION and COARSE_LOCATION_PERMISSION to request precise location on Android 12 and above. Right now I cannot use this class and have to do this manually.

[2022-07-29 16:17] Guardiola31337 opened #575 "🐞 `FileData` access modifier is potentially wrong and should be `public`"
While testing something else I noticed that [`FileData`](https://github.com/mapbox/mapbox-events-android/blob/main/libtelemetry/src/main/java/com/mapbox/android/telemetry/FileData.java) accessors don't work as the `class` is defined with _Default Access Modifier_ i.e. declarations are visible only within the package (package private) 👀

https://github.com/mapbox/mapbox-events-android/blob/c726dea1

[2022-09-26 18:07] broseidon91 commented on #558
has this been updated?

[2022-10-24 09:48] Zayankovsky opened #577 "🐞 `mapbox-android-core:5.0.2` is incompatible with `com.google.android.gms:play-services-location:21.0.0`"
[code]